@charset 'UTF-8';

/**
* common
**/
body {
  margin: 0;
  color: white;
  font-family: sans-serif;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}
.main {
  width: 404px;
  height: 417px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.c-title {
  position:
  absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 38%;
  opacity: 1;
}
.c-title-top {
  font-size: 24px;
  color: black;
  letter-spacing: -3px;
  line-height: 1;
  top: 12px;
  position: absolute;
  left: 15px;
}
.c-hexagon-box {
  --s: 52px;
  --r: 1.15; 
  --h: 0.5; 
  --v: 0.25; 
  --mv: 4px;
  --hc:calc(clamp(0,var(--h),0.5) * var(--s));
  --vc:calc(clamp(0,var(--v),0.5) * var(--s) * var(--r));
  --mh:calc(var(--mv) + (var(--s) - 2*var(--hc))/2);
  --f:calc(2*var(--s)*var(--r) + 4*var(--mv)  - 2*var(--vc) - 2px);
  grid-template-columns: repeat(auto-fit, calc(var(--s) + 2*var(--mh)));
  justify-content: center;
  margin: auto;
  border: 1px solid;
  resize: horizontal;
  font-size: 0;
}
.c-hexagon-box .c-hexagon {
  width: var(--s);
  margin: 0;
  height: calc(var(--s)*var(--r));
  display: inline-flex;
  font-size: 45px;
  clip-path: polygon(var(--hc) 0, calc(100% - var(--hc)) 0,100% var(--vc),100% calc(100% - var(--vc)), calc(100% - var(--hc)) 100%,var(--hc) 100%,0 calc(100% - var(--vc)),0 var(--vc));
  background: #f4aa07;
  line-height: calc(var(--s)*var(--r));
  justify-content: center;
}
.c-title-middle {
  position: absolute;
  top: 40px;
  left: 64px;
  height: calc(var(--s)*var(--r));
  border: none;
}
.c-title-middle .c-hexagon:nth-child(1) {
  top: 22px;
  left: 55px;
}
.c-title-middle .c-hexagon:nth-child(2) {
  top: 22px;
  left: 106px;
}
.c-title-middle .c-hexagon:nth-child(3) {
  top: 22px;
  left: 158px;
}
.c-title-middle .c-hexagon:nth-child(4) {
  top: 22px;
  left: 210px;
}
.c-title-bottom {
  position: absolute;
  top: 100px;
  left: 116px;
  height: calc(var(--s)*var(--r));
  border: none;
}
.c-title-bottom .c-hexagon:nth-child(1) {
  top: 50px;
  left: 55px;
}
.c-title-bottom .c-hexagon:nth-child(2) {
  top: 50px;
  left: 106px;
}
.c-title-bottom .c-hexagon:nth-child(3) {
  top: 50px;
  left: 158px;
}
.c-title-bottom .c-hexagon:nth-child(4) {
  left: 210px;
  top: 50px;
}

.bg {
  background: url(img.png) no-repeat;
  width: 404px;
  height: 417px;
  margin: 0 auto;
  opacity: .4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}