:root {
    --gray: #666;
    --white: #fff;
    --white2: #dfdfdf;
    --white3: #f5e1c6;
    --black: #000;
    --pink: #d77584;
    --pinktwo: #ff9db5;
    --pinkthree: #f0608b;
    --pinkfour: #ffc8d6;
    --brown: #5b2234;
    --brown2: #B5753F;
    --darkbrown: #654541;
    --darkbrown2: #84644e;
    --darkbrown3: #443d3d;
    --darkbrown4: #795f5f;    
    --red: #af2d13;
    --red2: #861d08;
    --sakura: #fcb5c7;
    --sakura2: #fcafbc;
    --blue: #1c22d5;
    --blue2: #1c2484;
    --green: #139a44;
    --green2: #0f8611;
    --orange: #d56e18;
    --orange2: #e3761a;
    --yellow: #F9BE35;
    --waterblue: #8ed3dd;
    --waterblue2: #d7feff;
    --ricecolor: #E8D6CC;
    --ricecolor2: #e4e2da;
    --ricecolor3: #ffffff;
    --switch-transition: 250ms ease-out;
    --border-width: 0.2vw;
    --switch-shadow: 0.3vw 0.3vw 0.1vw 0;
    --label-size: 30px;
    --checkbox-size: 15px;
    --kirby-animation-timing: 0.25s ease-in-out;
    --eye-animation-timing: 5s ease-out;
    --eye-gradient: radial-gradient(circle at 100% center, rgb(0, 0, 0), rgb(0, 0, 0) 50%, var(--blue) 75%, var(--blue) 75%);
    --eye2-gradient: linear-gradient(90deg, #f6bfce, #fcb5c7 95%, var(--black) 95% 100%);
    --eye3-gradient: linear-gradient(-90deg, #f6bfce, #fcb5c7 95%, var(--black) 95% 100%);
    --kirby-gradient: linear-gradient(0deg, var(--pink), var(--pinktwo) 20%, var(--pinkfour));
    --kirby-hand-gradient: linear-gradient(116deg, #f8b6c7 38%, #ff99b2);
    --kirby-hand2-gradient: linear-gradient(-35deg, #f8b6c7 38%, #ff99b2);
    --red-gradient: linear-gradient(75deg, var(--brown), var(--red2) 40%, var(--red));
    --tree-color: linear-gradient(10deg, var(--brown), var(--brown2) 30%, var(--brown2));
}
body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, var(--green), var(--green2) 200px, var(--waterblue) 205px, var(--waterblue2) 89.5%) no-repeat;
}
li {
    list-style-type: none;
}
.kirby_content {
    position: absolute;
    transform: translateX(-50%) translateY(0%);
    bottom: 20px;
    left: calc(50% - 160px);
    width: 100px;
    height: auto;
    animation: kirbymove var(--kirby-animation-timing) infinite;
    opacity: 1;
    z-index: 100;
    & .kirby_inner {
        background: linear-gradient(0deg, var(--pink), var(--pinktwo) 20%, var(--pinkfour));
        border-radius: 50%;
        width: 100%;
        padding: 100% 0px 0px;
    }
    & .eye, & .mouth, & .cheek, & .hand, & .foot {
        position: absolute;
        transition: 0.3s ease-in-out;
    }
    & .eye {
        width: 14%;
        padding: 33% 0px 0px;
        background: var(--black);
        border-radius: 50%;
        top: 23%;
        left: 37%;
        animation: var(--eye-animation-timing) 0s infinite normal none running eye;
        &::before {
            content: "";
            background-color: var(--white);
            position: absolute;
            width: 65%;
            height: 45%;
            border-radius: 50%;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            animation: var(--eye-animation-timing) 0s infinite normal none running eye-before;
        }
        &.two {
            left: 61%;
            &::after {
                transform: rotate(-60deg);
                background-image: var(--eye3-gradient);
                left: 35%;
            }
        }
        & .eye_inner {
            background: var(--eye-gradient);
            border-radius: 50%;
            width: 100%;
            padding: 65% 0px 0px;
            transform: rotate(-90deg);
            bottom: 15%;
            position: absolute;
            animation: var(--eye-animation-timing) 0s infinite normal none running eye-inner;
        }
    }
    & .mouth {
        z-index: 50;
        border-radius: 35% 35% 50% 50% / 30% 30% 70% 70%;
        height: 16%;
        width: 21%;
        left: 46%;
        top: 59%;
        background: var(--brown);
        &::before {
            content: "";
            bottom: 3%;
            left: 50%;
            transform: translateX(-50%);
            width: 70%;
            height: 70%;
            border-radius: 40% 40% 50% 50% / 30% 30% 70% 70%;
            background: var(--pinkthree);
            display: block;
            position: absolute;
        }
    }
    & .cheek {
        background-color: var(--pinkthree);
        top: 56%;
        left: 20%;
        filter: blur(0.1vw);
        width: 14%;
        height: 8%;
        border-radius: 50%;
        transform: rotate(-10deg);
        z-index: 3;
        &.two {
            left: auto;
            right: 9%;
            transform: rotate(10deg);
        }
    }
    & .hand {
        top: 22%;
        left: -12%;
        background: var(--kirby-hand-gradient);
        border-radius: 60% 40% 40% 60% / 60% 40%;
        width: 30%;
        padding: 30% 0px 0px;
        transform: rotate(34deg);
        &.two {
            top: 19%;
            left: auto;
            right: -12%;
            background: var(--kirby-hand2-gradient);
            transform: rotate(164deg);
            z-index: -1;
        }
    }
    & [class*="foot"] {
        width: 50%;
        height: 35%;
        position: absolute;
        background: var(--red-gradient);
        border-radius: 78% 22% 70% 30% / 59% 29% 71% 41%;
        z-index: 10;
    }
    & .foot-right {
        bottom: 0%;
        left: -10%;
        transform: rotate(-112deg);
    }
    & .foot-left {
        right: -16%;
        bottom: 1%;
        transform: rotate(-34deg);
        animation: 0.1s ease-in-out 0s infinite normal none running foot-mov-3;
    }
}
.wado_content {
    position: absolute;
    transform: translateX(100%) translateY(0%);
    bottom: 20px;
    right: calc(50% - 150px);
    width: 100px;
    height: auto;
    animation: kirbymove var(--kirby-animation-timing) infinite;
    opacity: 1;
    z-index: 100;
    & .wado_inner {
        background: linear-gradient(314deg, var(--orange) 38%, var(--orange2));
        border-radius: 50%;
        width: 100%;
        padding: 100% 0px 0px;
        &::before, &::after {
            content: "";
            position: absolute;
            background: var(--white3);
        }
        &::before {
            top: 12%;
            left: 46%;
            width: 69%;
            height: 60%;
            border-radius: 50% 50% 40%;
            transform: translateX(-50%);
        }
        &::after {
            top: 43%;
            left: 46%;
            width: 81%;
            height: 45%;
            border-radius: 40%;
            transform: translateX(-50%);
            z-index: 0;
        }
    }
    & .eye, & .mouth, & .cheek, & .hand, & .foot {
        position: absolute;
        transition: 0.3s ease-in-out;
    }
    & .eye {
        width: 14%;
        padding: 33% 0px 0px;
        background: var(--black);
        border-radius: 50%;
        top: 23%;
        left: 25%;
        animation: var(--eye-animation-timing) 0s infinite normal none running eye;
        z-index: 10;
        &::before {
            content: "";
            background-color: var(--white);
            position: absolute;
            width: 65%;
            height: 45%;
            border-radius: 50%;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            animation: var(--eye-animation-timing) 0s infinite normal none running eye-before;
        }
        &.two {
            left: 51%;
            &::after {
                transform: rotate(-60deg);
                background-image: var(--eye3-gradient);
                left: 35%;
            }
        }
        & .eye_inner {
            background: var(--eye-gradient);
            border-radius: 50%;
            width: 100%;
            padding: 65% 0px 0px;
            transform: rotate(-90deg);
            bottom: 15%;
            position: absolute;
            animation: var(--eye-animation-timing) 0s infinite normal none running eye-inner;
        }
    }
    & .mouth {
        z-index: 50;
        border-radius: 35% 35% 50% 50% / 30% 30% 70% 70%;
        height: 16%;
        width: 21%;
        left: 46%;
        top: 59%;
        background: var(--brown);
        &::before {
            content: "";
            bottom: 3%;
            left: 50%;
            transform: translateX(-50%);
            width: 70%;
            height: 70%;
            border-radius: 40% 40% 50% 50% / 30% 30% 70% 70%;
            background: var(--pinkthree);
            display: block;
            position: absolute;
        }
    }
    & .cheek {
        background-color: var(--pinkthree);
        top: 56%;
        left: 8%;
        filter: blur(0.1vw);
        width: 14%;
        height: 8%;
        border-radius: 50%;
        transform: rotate(-10deg);
        z-index: 3;
        &.two {
            left: auto;
            right: 15%;
            transform: rotate(10deg);
        }
    }
    & .hand {
        top: 22%;
        left: 87%;
        background: linear-gradient(-35deg, var(--orange) 38%, var(--orange2));
        border-radius: 60% 40% 40% 60% / 60% 40%;
        width: 30%;
        padding: 30% 0px 0px;
        transform: rotate(34deg);
        z-index: 1;
        &.two {
            top: 19%;
            left: -13%;
            background: linear-gradient(-35deg, var(--orange) 38%, var(--orange2));
            transform: rotate(253deg);
            z-index: -1;
        }
    }
    & [class*="foot"] {
        width: 50%;
        height: 35%;
        position: absolute;
        background: var(--red-gradient);
        border-radius: 78% 22% 70% 30% / 59% 29% 71% 41%;
        z-index: 10;
    }
    & .foot-right {
        bottom: 0%;
        left: -13%;
        transform: rotate(251deg);
    }
    & .foot-left {
        right: -10%;
        bottom: -1%;
        transform: rotate(-34deg);
        animation: 0.1s ease-in-out 0s infinite normal none running foot-mov-3;
    }
}
@keyframes eye {
    0%, 51%, 53%, 98%, 100% {
        background: var(--black);
    }
    51.5%, 52.5%, 98.5%, 99.5% {
        background: transparent;
    }
    52%, 99% {
        background: var(--black);
    }
}
@keyframes eye-inner {
    0%, 51%, 53%, 98%, 100% {
        background: var(--eye-gradient);
    }
    51.5%, 52.5%, 98.5%, 99.5% {
        background: transparent;
    }
    52%, 99% {
        background: var(--eye-gradient);
    }
}
@keyframes eye-before {
    0%, 51%, 52%, 53%, 98%, 99%, 100% {
        top: 5%;
        background-color: var(--white);
        width: 65%;
        height: 45%;
    }
    51.5%, 52.5%, 98.5%, 99.5% {
        top: 62%;
        background-color: var(--black);
        width: 200%;
        height: 2%;
    }
    100% {
        width: 60%;
    }
}
@keyframes eye2 {
    0%, 51%, 53%, 98%, 100% {
        background: var(--brown);
    }
    51.5%, 52.5%, 98.5%, 99.5% {
        background: transparent;
    }
    52%, 99% {
        background: var(--brown);
    }
}
@keyframes eye-before2 {
    0%, 51%, 53%, 98%, 100% {
        box-shadow: inset 0 0 0 10px var(--black);
    }
    51.5%, 52.5%, 98.5%, 99.5% {
        box-shadow: inset 0 0 0 10px transparent;
    }
    52%, 99% {
        box-shadow: inset 0 0 0 10px var(--black);
    }
}
@keyframes sakura_fall {
    0% {
        top: 0%;
    }
    100% {
        top: 150%;
    }
}
@keyframes sakura_rotate1 {
    0% {
        transform: translateX(0px) translateZ(-50px) rotate(0deg);
    }
    100% {
        transform: translateX(100px) translateZ(-30px) rotateY(10deg);
    }
}
@keyframes sakura_rotate2 {
    0% {
        transform: translateX(0px) translateZ(-40px) rotate(0deg);
    }
    100% {
        transform: translateX(100px) translateZ(-60px) rotateY(20deg);
    }
}
@keyframes sakura_rotate3 {
    0% {
        transform: translateX(0px) translateZ(-40px) rotate(10deg);
    }
    100% {
        transform: translateX(100px) translateZ(-60px) rotateY(0deg);
    }
}
@media (420px <= width <= 600px ) {
    #container  {
        .sakura_content, .kirby_content, .wado_content, .bento_content, .sheet_content {
            zoom: 0.75;
        }
    }
}
@media (420px >= width){
    body {
        background: linear-gradient(0deg, var(--green), var(--green2) 50%, var(--waterblue) 51%, var(--waterblue2) 89.5%) no-repeat;
    }
    #container  {
        & .sakura_content, & .kirby_content, & .wado_content, & .bento_content, & .sheet_content {
            zoom: 0.5;
        }
        & .sakura_content{
            bottom: calc(50% + 120px);
            transform: translateX(-50%) translateY(50%);
        }
        & .kirby_content{
            bottom: calc(50% - 300px);
            transform: translateX(-50%) translateY(50%);
        }
        & .wado_content{
            bottom: calc(50% - 300px);
            transform: translateX(100%) translateY(50%);
        }
        & .bento_content{
            bottom: calc(50% - 375px);
        }
        & .sheet_content {
            bottom: calc(50% - 380px);
        }
    }
}