@charset 'UTF-8';

.triangle {
  background: #ffffff;
  height: calc(tan(60deg) * 60px / 2);
  width: 60px;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

body {
  background-color: #212529;
  display: grid;
  height: calc(100vh - 16px);
  margin: 0;
  padding: 8px;
  place-items: center;
  width: calc(100% - 16px);
}