@import url('https://unpkg.com/normalize.css') layer(normalize);

@layer normalize, base, demo;

@layer demo {
  main {
    display: flex;
    scale: var(--scale, 1);
    height: 100%;
    width: 100%;
  }


  section {
    flex: 1;
    display: flex;
    align-items: center;
  }
  section:first-of-type {
    color-scheme: light only;
    justify-content: flex-end;
    padding-right: 2rem;
    position: relative;
  }
  section:last-of-type {
    color-scheme: dark only;
    justify-content: flex-start;
    padding-left: 2rem;
  }

  [data-border-pulse] {
    --bg: light-dark(hsl(0 0% 92%), hsl(0 0% 16%));
    --accent: light-dark(color-mix(in hsl, var(--bg), #000 16%), color-mix(in hsl, var(--bg), #fff 16%));
    background: linear-gradient(var(--bg) 0 100%) padding-box, linear-gradient(light-dark(hsl(0 0% 0% / 0.16), hsl(0 0% 100% / 0.16)) 0 100%) border-box;
    border-radius: 6px;
    outline-width: 1px;
    font-size: .875rem;
    outline-color: color-mix(in hsl, canvasText, #0000 75%);
    outline-offset: 4px;
    border: calc(var(--border) * 1px) solid #0000;
    cursor: pointer;
    height: 34px;
    position: relative;
    transition-property: scale, translate;
    transition-timing-function: cubic-bezier(.25, .46, .45, .94);
    transition-duration: 0.16s;
    
    &:is(:hover, :focus-visible)::before {
      opacity: 0.26;
    }
    
    
    &::after,
    &::before {
      content: '';
      position: absolute;
      inset: calc(var(--border) * -1px);
      opacity: 0;
      border-radius: inherit;
    }
    &::after {
      border: calc(var(--border) * 1px) solid light-dark(#000, #fff);
      z-index: 2;
      transition: opacity calc(var(--duration, 0.6) * 1s) calc(var(--delay, 0.1) * 1s) cubic-bezier(.25, .46, .45, .94);
    }
    
    
    &::before {
      z-index: 3;
      background: var(--accent);
      transition: opacity 0.16s cubic-bezier(.55, .085, .68, .53);
    }
    
    span {
      padding: 0 1.25rem;
      height: 100%;
      display: inline-grid;
      place-items: center;
      position: relative;
      color: light-dark(#000, color-mix(in hsl, currentColor, #0000 10%));
      z-index: 4;
    }
    
    &:active {
      scale: 0.98;
      translate: 0 1px;
    }
    
    &:active::after,
    &:active::before {
      opacity: 1;
      transition: opacity 0s;
    }
  }
}

@layer base {
  :root {
    --font-size-min: 16;
    --font-size-max: 20;
    --font-ratio-min: 1.2;
    --font-ratio-max: 1.33;
    --font-width-min: 375;
    --font-width-max: 1500;
  }

  html {
    color-scheme: light only;
  }

  [data-theme='light'] {
    color-scheme: light only;
  }

  [data-theme='dark'] {
    color-scheme: dark only;
  }

  :where(.fluid) {
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * 1rem
    );
    font-size: var(--fluid-type);
  }

  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  html {
    background: linear-gradient(105deg, #fff 0 50%, hsl(0 0% 4%) 50% 100%);

  }
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
      Helvetica, Arial, sans-serif, system-ui;
  }

  body::before, body::after {
    --size: 45px;
    --line: color-mix(in hsl, canvasText, transparent 80%);
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        calc(var(--size) * 0.36) 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 0%
        calc(var(--size) * 0.32) / var(--size) var(--size);
    mask: linear-gradient(-20deg, transparent 50%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }
  body::after {
    --line: color-mix(in hsl, #fff, transparent 20%);
    mask: linear-gradient(-20deg, transparent 50%, white),
      linear-gradient(105deg, #0000 0 50%, #fff 50% 100%);
    mask-composite: intersect;
  }

  .bear-link {
    color: canvasText;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    opacity: 0.8;
  }

  :where(.x-link, .bear-link):is(:hover, :focus-visible) {
    opacity: 1;
  }

  .bear-link svg {
    width: 75%;
  }

  /* Utilities */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

div.tp-dfwv {
  width: 256px;
  position: fixed;
}
