@charset "UTF-8";

/**
* header
**/
header {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background: var(--white);
    z-index: 10;
}
header .l-title {
    margin: 10px auto;
}
header .l-title__logo {
    height: 60px;
}
header .l-search {
    position: absolute;
    inset: 20px 0 0 calc(100% - 200px);
    height: 31px;
    width: 178px;
}
header form {
    margin: 0;
    display: flex;
    align-items: center;
}
header .l-search__input {
    padding: 6px 5px;
    border-radius: 0;
    background: var(--white);
    border: 1px solid var(--blue);
    border-right-width: 0;
}
header .l-search__input::placeholder {
  color: var(--blue);
}
header .l-search__submit {
    background: var(--white);
    padding: 5px;
    border-radius: 0;
    height: 30px;
    border: 1px solid var(--blue);
}
header .l-search__submit svg path {
  fill: var(--white);
  stroke: var(--blue);
}
header .l-search__submit svg line {
  fill: var(--blue);
  stroke: var(--blue);  
}
header .l-glovalnav {
    width: 100%;
    border-top: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
}
header .l-glovalnav__list {
    width: 100%;
    display: flex;
    text-align: center;
    padding: 0;
}
header .l-glovalnav__list li{
  width: calc(100% / 6);
}
header .l-glovalnav__list li a {
  display: block;
  padding: 10px 0;
  color: var(--blue);
}
@supports not (inset: 20px 0 0 calc(100% - 200px)) {
  header .l-search {
      top: 20px;
      right: 55px;
  }
}
/**
* breadcrumb
**/
.c-breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: var(--black);
  padding: 10px 0;
}
.c-breadcrumb ul li {
  margin: 0 10px;
}
.c-breadcrumb ul li a {
  color :var(--white);
  position: relative;
}

/**
* layout
**/
.l-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.l-main {
    width: calc(75% - 40px);
    margin: 0 20px 0 0;
}
.l-sidebar {
    width: calc(25% - 20px);
}
/**
* footer
**/
footer.l-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: var(--black);
    margin: 20px 0 0;
}
footer.l-footer .l-foonter-top {
    width: 100%;
    padding: 20px;
}
footer.l-footer .l-foonter-top {
    display: flex;
    flex-wrap: wrap; 
}
footer.l-footer .l-foonter__address {width: 50%;}
footer.l-footer .l-foonter__address a{
    display: block;
    margin: 0 0 10px;
}
footer.l-footer .l-foonter__address a img{
    width: auto;
    height: 60px;
    background: var(--white);
    padding: 10px;
}
footer.l-footer .l-foonter__address p {
    color: var(--white);
    line-height: 2;
}

footer.l-footer .l-foonter__navi {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
footer.l-footer .l-foonter__navi:before,
footer.l-footer .l-foonter__navi:after {
    content: none;
}
footer.l-footer .l-foonter__list {
   padding: 0;
   width: 50%;
}
footer.l-footer .l-foonter__list li {
    display: block;
    gap: 10px;
}
footer.l-footer .l-foonter__list li a{color: var(--white);}

footer.l-footer .l-foonter__copyright {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid var(--white);
}
footer.l-footer .l-foonter__guide {}
footer.l-footer .l-foonter__copy {
    color: var(--white);
}
footer.l-footer .l-foonter__copy a {
    color: var(--white);
}

footer.l-footer [href*="top"] {
    position: fixed;
    width: 40px;
    height: 40px;
    inset: calc(100% - 60px) 0 0 calc(100% - 60px);
    background: var(--black);
    border: 1px solid var(--white);
    border-radius: 50%;
}
footer.l-footer [href*="top"]:before {
  content: '';
  border: 1px solid var(--white);
  border-left-width: 0px;
  border-bottom-width: 0px;
  position: absolute;
  width: 10px;
  height: 10px;
  inset: 50%;
  transform:translate(-50%, 0) rotate(-45deg);
}
@supports not (inset: 20px 0 0 calc(100% - 200px)) {
  footer.l-footer [href*="top"] {
    top: calc(100% - 60px);
    left: calc(100% - 60px);
  }
}
@supports not (inset: 50%;) {
  footer.l-footer [href*="top"]:before {
    top: 50%;
    left: 50%;
    transform:translate(-50%) rotate(-45deg);
  }
}

.c-title {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}


/**
* contents
**/
.l-sidebar-wrap {
  position: sticky;
  top:130px;
}

@media (max-width: 768px) {
  /**
  * layout
  **/
  .l-main, .l-sidebar {
      width: 100%;
      margin: 0 10px;
  }
  /**
  * header
  **/
  header .l-title__logo {
    width: auto;
    height: 30px
  }
  header .l-search {
    position: relative;
    inset: 0;
    width: calc(100% - 20px);
    margin: 0 auto 10px;
  }
  header .l-search__input {
    width: calc(100% - 30px)
  }
  @supports not (inset: 0) {
    header .l-search {
        top: 0;
        right: 0;
    }
  }  

  /**
  * sidebanner
  **/
  .c-sidebanner ul {
    display: flex;
    flex-wrap: wrap;
  }
  .c-sidebanner ul li{
     width: calc(100% / 2 - 10px);
     margin: 5px;
  }
  /**
  * footer
  **/
  footer.l-footer .l-foonter__address,
  footer.l-footer .l-foonter__navi {
    width: 100%;
    margin: 0 0 10px;
  }
  footer.l-footer .l-foonter__list li {
    margin: 0 0 10px;
  }
}

