@charset 'UTF-8';

/**
* reset
**/
body {
  margin: 0;
}

/**
* common
**/
.toggleWapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  toggle-root: darkmode;
}
.toggleButton {
  width: 46px;
  height: 24px;
  position: relative;
  border: none;
  border-radius: 12px;
  background-color: #BCBDBD;
  cursor: pointer;
  toggle-trigger: darkmode;
}
.toggleButton::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  left: 1px;
  top: 1px;
  background: #FFFFFF;
  border: 1px solid #BCBDBD;
  transition: all 0.1s ease 0s;
}
.toggleLabel {
  color: #1E2121;
  margin-left: 12px;
  cursor: pointer;
}
.toggleWapper:toggle(darkmode) {
  background-color: #1E2121;
}
.toggleButton:toggle(darkmode) {
  background-color: #6990d8;
}
.toggleButton:toggle(darkmode)::after {
  border-color: #6990d8;
  transform: translateX(100%);
}
.toggleLabel:toggle(darkmode) {
  color: #FFFFFF;
}