:root {
  --gray: #666;
  --white: #fff;
  --black: #000;
  --pink: #d77584;
  --pinktwo: #ff9db5;
  --brown: #752b42;
  --pinkthree: #f0608b;
  --red: #af2d13;
  --waterblue: #8ed3dd;
  --switch-transition: 250ms ease-out;
  --border-width: 0.2vw;
  --switch-shadow: 0.3vw 0.3vw 0.1vw 0;
  --label-size: 30px;
  --checkbox-size: 15px;
  --kirby-animation-timing: 0.25s ease-in-out;
  --eye-animation-timing: 5s ease-out;
  --eye-gradient: radial-gradient(circle at 100% center, rgb(0, 0, 0), rgb(0, 0, 0) 50%, rgb(28, 34, 213) 75%, rgb(28, 34, 213) 75%);
  --eye2-gradient: linear-gradient(90deg, #f6bfce, #fcb5c7 95%, var(--black) 95% 100%);
  --eye3-gradient: linear-gradient(-90deg, #f6bfce, #fcb5c7 95%, var(--black) 95% 100%);
  --kirby-gradient: linear-gradient(0deg, var(--pink), var(--pinktwo) 20%, #ffc8d6);
  --kirby-hand-gradient: linear-gradient(116deg, rgb(248, 182, 199) 38%, rgb(255, 153, 178));
  --kirby-hand2-gradient: linear-gradient(-35deg, rgb(248, 182, 199) 38%, rgb(255, 153, 178));
  --foot-gradient: linear-gradient(75deg, var(--brown), var(--red) 20%, #cf472c);
  --tree-color: linear-gradient(10deg, #7d502b, #B5753F 30%, #B5753F);
}
body {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, #139a44, #139a15c4 25%, #5bdcdb5c 26%, #5bd8dc17 89.5%);
  background-repeat: no-repeat;
}
#container .kirby_content {
  position: absolute;
  transform: translateX(-50%) translateY(0%);
  bottom: 20px;
  left: 25%;
  width: 100px;
  height: auto;
  animation: kirbymove var(--kirby-animation-timing) infinite;
  opacity: 1;
  z-index: 100;
  & .kirby_inner {
      background: linear-gradient(0deg, var(--pink), var(--pinktwo) 20%, #ffc8d6);
      border-radius: 50%;
      width: 100%;
      padding: 100% 0px 0px;
  }
  & .eye, & .mouth, & .cheek, & .hand, & .foot {
      position: absolute;
      transition: 0.3s ease-in-out;
  }
  & .eye {
      width: 14%;
      padding: 33% 0px 0px;
      background: var(--black);
      border-radius: 50%;
      top: 23%;
      left: 37%;
      animation: var(--eye-animation-timing) 0s infinite normal none running eye;
      &::before {
          content: "";
          background-color: var(--white);
          position: absolute;
          width: 65%;
          height: 45%;
          border-radius: 50%;
          top: 5%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 2;
          animation: var(--eye-animation-timing) 0s infinite normal none running eye-before;
      }
      &.two {
          left: 61%;
          &::after {
              transform: rotate(-60deg);
              background-image: var(--eye3-gradient);
              left: 35%;
          }
      }
      & .eye_inner {
          background: var(--eye-gradient);
          border-radius: 50%;
          width: 100%;
          padding: 65% 0px 0px;
          transform: rotate(-90deg);
          bottom: 15%;
          position: absolute;
          animation: var(--eye-animation-timing) 0s infinite normal none running eye-inner;
      }
  }
  & .mouth {
      z-index: 50;
      border-radius: 35% 35% 50% 50% / 30% 30% 70% 70%;
      height: 16%;
      width: 21%;
      left: 46%;
      top: 59%;
      background: var(--brown);
      animation: 1s ease-in-out 0s infinite alternate none running mouthmove;
      &::before {
          content: "";
          bottom: 3%;
          left: 50%;
          transform: translateX(-50%);
          width: 70%;
          height: 70%;
          border-radius: 40% 40% 50% 50% / 30% 30% 70% 70%;
          background: var(--pinkthree);
          display: block;
          position: absolute;
      }
  }
  & .cheek {
      background-color: var(--pinkthree);
      top: 56%;
      left: 20%;
      filter: blur(0.1vw);
      width: 14%;
      height: 8%;
      border-radius: 50%;
      transform: rotate(-10deg);
      z-index: 3;
      &.two {
          left: auto;
          right: 9%;
          transform: rotate(10deg);
      }
  }
  & .hand {
      top: 22%;
      left: -12%;
      background: var(--kirby-hand-gradient);
      border-radius: 60% 40% 40% 60% / 60% 40%;
      width: 30%;
      padding: 30% 0px 0px;
      transform: rotate(34deg);
      &.two {
          top: 19%;
          left: auto;
          right: -12%;
          background: var(--kirby-hand2-gradient);
          transform: rotate(164deg);
          z-index: -1;
      }
  }
  & [class*="foot"] {
      width: 50%;
      height: 35%;
      position: absolute;
      background: var(--foot-gradient);
      border-radius: 78% 22% 70% 30% / 59% 29% 71% 41%;
      z-index: 10;
  }
  & .foot-right {
      bottom: 0%;
      left: -10%;
      transform: rotate(-112deg);
  }
  & .foot-left {
      right: -16%;
      bottom: 1%;
      transform: rotate(-34deg);
      animation: 0.1s ease-in-out 0s infinite normal none running foot-mov-3;
  }
}

#container .wado_content {
  position: absolute;
  transform: translateX(100%) translateY(0%);
  bottom: 20px;
  right: 25%;
  width: 100px;
  height: auto;
  animation: kirbymove var(--kirby-animation-timing) infinite;
  opacity: 1;
  z-index: 100;
  & .wado_inner {
      background: linear-gradient(0deg, #b97f4e, #E3761A 20%, #E3761A);
      border-radius: 50%;
      width: 100%;
      padding: 100% 0px 0px;
      &:before, &:after {
          content: '';          
          position: absolute;
          background: #F5E1C6;
      }
      &:before {
          top: 12%;
          left: 46%;
          width: 69%;
          height: 60%;
          border-radius: 50% 50% 40%;
          transform: translateX(-50%);
      }
      &:after {
          top: 43%;
          left: 46%;
          width: 81%;
          height: 45%;
          border-radius: 40%;
          transform: translateX(-50%);
          z-index: 0;
      }
  }
  & .eye, & .mouth, & .cheek, & .hand, & .foot {
      position: absolute;
      transition: 0.3s ease-in-out;
  }
  & .eye {
      width: 14%;
      padding: 33% 0px 0px;
      background: var(--black);
      border-radius: 50%;
      top: 23%;
      left: 25%;
      animation: var(--eye-animation-timing) 0s infinite normal none running eye;
      z-index: 10;
      
      
      
      
      &::before {
          content: "";
          background-color: var(--white);
          position: absolute;
          width: 65%;
          height: 45%;
          border-radius: 50%;
          top: 5%;
          left: 50%;
          transform: translateX(-50%);
          z-index: 2;
          animation: var(--eye-animation-timing) 0s infinite normal none running eye-before;
      }
      &.two {
          left: 51%;
          &::after {
              transform: rotate(-60deg);
              background-image: var(--eye3-gradient);
              left: 35%;
          }
      }
      & .eye_inner {
          background: var(--eye-gradient);
          border-radius: 50%;
          width: 100%;
          padding: 65% 0px 0px;
          transform: rotate(-90deg);
          bottom: 15%;
          position: absolute;
          animation: var(--eye-animation-timing) 0s infinite normal none running eye-inner;
      }
  }
  & .mouth {
      z-index: 50;
      border-radius: 35% 35% 50% 50% / 30% 30% 70% 70%;
      height: 16%;
      width: 21%;
      left: 46%;
      top: 59%;
      background: var(--brown);
      animation: 1s ease-in-out 0s infinite alternate none running mouthmove;
      &::before {
          content: "";
          bottom: 3%;
          left: 50%;
          transform: translateX(-50%);
          width: 70%;
          height: 70%;
          border-radius: 40% 40% 50% 50% / 30% 30% 70% 70%;
          background: var(--pinkthree);
          display: block;
          position: absolute;
      }
  }
  & .cheek {
      background-color: var(--pinkthree);
      top: 56%;
      left: 8%;
      filter: blur(0.1vw);
      width: 14%;
      height: 8%;
      border-radius: 50%;
      transform: rotate(-10deg);
      z-index: 3;
      &.two {
          left: auto;
          right: 15%;
          transform: rotate(10deg);
      }
  }
  & .hand {
      top: 22%;
      left: 87%;
      background: linear-gradient(-35deg, #d56e18 38%, #E3761A);
      border-radius: 60% 40% 40% 60% / 60% 40%;
      width: 30%;
      padding: 30% 0px 0px;
      transform: rotate(34deg);
      z-index: 1;
      
      &.two {
          top: 19%;
          left: -13%;
          background: linear-gradient(-35deg, #d56e18 38%, #E3761A);
          transform: rotate(253deg);
          z-index: -1;
      }
  }
  & [class*="foot"] {
      width: 50%;
      height: 35%;
      position: absolute;
      background: var(--foot-gradient);
      border-radius: 78% 22% 70% 30% / 59% 29% 71% 41%;
      z-index: 10;
  }
  & .foot-right {
      bottom: 0%;
      left: -13%;
      transform: rotate(72deg);
  }
  & .foot-left {
      right: -10%;
      bottom: -1%;
      transform: rotate(-34deg);
      animation: 0.1s ease-in-out 0s infinite normal none running foot-mov-3;
  }
}

@keyframes eye {
  0%, 51%, 53%, 98%, 100% {
      background: var(--black);
  }

  51.5%, 52.5%, 98.5%, 99.5% {
      background: transparent;
  }

  52%, 99% {
      background: var(--black);
  }
}

@keyframes eye-inner {
  0%, 51%, 53%, 98%, 100% {
      background: var(--eye-gradient);
  }

  51.5%, 52.5%, 98.5%, 99.5% {
      background: transparent;
  }

  52%, 99% {
      background: var(--eye-gradient);
  }
}

@keyframes eye-before {
  0%, 51%, 52%, 53%, 98%, 99%, 100% {
      top: 5%;
      background-color: var(--white);
      width: 65%;
      height: 45%;
  }

  51.5%, 52.5%, 98.5%, 99.5% {
      top: 62%;
      background-color: var(--black);
      width: 200%;
      height: 2%;
  }

  100% {
      width: 60%;
  }
}

#container .sakura_content {
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 600px;
  height: auto;
  transform: translateX(-50%) translateY(0%);  
  & .sakura_content_tree {
      background: var(--tree-color);
      mask-image: url("tree.png");
      mask-size: 600px;
      mask-repeat: no-repeat;
      mask-position: center bottom;
      height: 750px;
      width: 100%;
      position: relative;
      overflow: hidden;
  }
  & .sakura_content_leaf {
      content: "";
      background-image:
      radial-gradient(circle at 19% 49%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 33% 34%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 20% 61%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 28% 61%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 27% 44%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 27% 53%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 22% 38%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 27% 32%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 35% 71%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 29% 69%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 33% 54%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 35% 46%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 41% 22%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 34% 25%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 37% 58%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 42% 61%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 39% 37%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 44% 32%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 43% 73%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 50% 76%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 46% 43%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 43% 49%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 49% 65%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 62% 72%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 48% 58%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 63% 58%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 55% 26%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 49% 29%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 54% 20%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 48% 21%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 50% 50%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 61% 44%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 56% 43%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 50% 40%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 72% 38%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 55% 29%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 57% 63%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 57% 36%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 57% 75%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 65% 75%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 58% 51%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 76% 51%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 62% 21%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),        
      radial-gradient(circle at 62% 21%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),        
      radial-gradient(circle at 67% 27%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 65% 35%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 79% 63%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 67% 63%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 70% 50%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),        
      radial-gradient(circle at 88% 50%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),        
      radial-gradient(circle at 72% 71%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 80% 68%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 74% 58%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),        
      radial-gradient(circle at 74% 44%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),        
      radial-gradient(circle at 75% 28%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 81% 33%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 66% 53%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),        
      radial-gradient(circle at 67% 44%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),        
      radial-gradient(circle at 55% 53%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 83% 41%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 87% 60%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%),
      radial-gradient(circle at 86% 41%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%);
      background-size: 100% 100%;
      display: block;
      width: calc(20% + 600px);
      height: 500px;
      background-repeat: no-repeat;
      position: absolute;
      top: 0px;
      left: 0%;
      z-index: 10;
      transform: translateX(-10%) translateY(0%);
  }
  .sakura {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    left: 0;
    overflow: hidden;
    perspective: 50px;
    border-radius: 0% 70%;
    & li {
      padding: 10px;
      position: absolute;
      list-style: none;
      background: rgb(252, 181, 199);
      border-radius: 0% 80% 0% 60% /  0% 70% 0% 90%;
      top: 0px;
      &:nth-child(even) {
        background: rgb(255 204 217);
        border-radius: 0% 70% 0% 90% /  0% 90% 0% 70%;
      }
      animation: fall 4s linear infinite, rotate1 1s ease-in-out infinite alternate;
      &:nth-child(1) {
        left: 0;
        animation: fall 10s linear infinite, rotate2 3s ease-in-out infinite alternate;
      }
      &:nth-child(2) {
        left: 5%;
        animation: fall 15s linear infinite, rotate3 2s ease-in-out infinite alternate;
      }
      &:nth-child(3) {
        left: 15%;
        animation: fall 9s linear infinite, rotate1 3.5s ease-in-out infinite alternate;
      }
      &:nth-child(4) {
        left: 30%;
        animation: fall 8s linear infinite, rotate2 6s ease-in-out infinite alternate;
      }
      &:nth-child(5) {
        left: 40%;
        animation: fall 10s linear infinite, rotate3 4s ease-in-out infinite alternate;
      }
      &:nth-child(6) {
        left: 55%;
        animation: fall 11s linear infinite, rotate1 3s ease-in-out infinite alternate;
      }
      &:nth-child(7) {
        left: 65%;
        animation: fall 7s linear infinite, rotate2 3.5s ease-in-out infinite alternate;
      }
      &:nth-child(8) {
        left: 50%;
        animation: fall 7s linear infinite, rotate3 5s ease-in-out infinite alternate;
      } 
      &:nth-child(9) {
        left: 60%;
        animation: fall 10s linear infinite, rotate1 2s ease-in-out infinite alternate;
      }
      &:nth-child(10) {
        left: 75%;
        animation: fall 10s linear infinite, rotate2 3.5s ease-in-out infinite alternate;
      }
      &:nth-child(11) {
        left: 85%;
        animation: fall 5s linear infinite, rotate3 4s ease-in-out infinite alternate;
      }
      &:nth-child(12) {
        left: 90%;
        animation: fall 10s linear infinite, rotate1 3.5s ease-in-out infinite alternate;
      } 
    }
  }
}

@keyframes fall {
  from {
    top: 0%;
  }  
  to {
    top: 150%;
  }
}
@keyframes rotate1 {
  from {
    transform: translateX(0px) translateZ(-50px) rotate(0deg);
  }
  to {
    transform: translateX(100px) translateZ(-30px) rotateY(10deg);
  }
}
@keyframes rotate2 {
  from {
    transform: translateX(0px) translateZ(-40px) rotate(0deg);
  }
  to {
    transform: translateX(100px) translateZ(-60px) rotateY(20deg);
  }
}
@keyframes rotate3 {
  from {
    transform: translateX(0px) translateZ(-40px) rotate(10deg);
  }
  to {
    transform: translateX(100px) translateZ(-60px) rotateY(0deg);
  }
}