:root {
    --gray: #666;
    --white: #fff;
    --black: #000;
    --pink: #d77584;
    --pinktwo: #ff9db5;
    --brown: #752b42;
    --pinkthree: #f0608b;
    --red: #af2d13;
    --waterblue: #8ed3dd;
    --switch-transition: 250ms ease-out;
    --border-width: 0.2vw;
    --switch-shadow: 0.3vw 0.3vw 0.1vw 0;
    --label-size: 30px;
    --checkbox-size: 15px;
    --kirby-animation-timing: 0.25s ease-in-out;
    --eye-animation-timing: 5s ease-out;
    --eye-gradient: radial-gradient(circle at 100% center, rgb(0, 0, 0), rgb(0, 0, 0) 50%, rgb(28, 34, 213) 75%, rgb(28, 34, 213) 75%);
    --eye2-gradient: linear-gradient(90deg, #f6bfce, #fcb5c7 95%, var(--black) 95% 100%);
    --eye3-gradient: linear-gradient(-90deg, #f6bfce, #fcb5c7 95%, var(--black) 95% 100%);
    --kirby-gradient: linear-gradient(0deg, var(--pink), var(--pinktwo) 20%, #ffc8d6);
    --kirby-hand-gradient: linear-gradient(116deg, rgb(248, 182, 199) 38%, rgb(255, 153, 178));
    --kirby-hand2-gradient: linear-gradient(-35deg, rgb(248, 182, 199) 38%, rgb(255, 153, 178));
    --foot-gradient: linear-gradient(75deg, var(--brown), var(--red) 20%, #cf472c);
    --tree-color: linear-gradient(10deg, #7d502b, #B5753F 30%, #B5753F);
  }
  body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgb(19, 154, 68), rgba(19, 154, 21, 0.77) 200px, rgba(91, 220, 219, 0.36) 205px, rgba(91, 216, 220, 0.09) 89.5%) no-repeat;
  }
  #container .kirby_content {
    position: absolute;
    transform: translateX(-50%) translateY(0%);
    bottom: 20px;
    left: calc(50% - 160px);
    width: 100px;
    height: auto;
    animation: kirbymove var(--kirby-animation-timing) infinite;
    opacity: 1;
    z-index: 100;
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    & .kirby_inner {
        background: linear-gradient(0deg, var(--pink), var(--pinktwo) 20%, #ffc8d6);
        border-radius: 50%;
        width: 100%;
        padding: 100% 0px 0px;
   }
    & .eye, & .mouth, & .cheek, & .hand, & .foot {
        position: absolute;
        transition: 0.3s ease-in-out;
   }
    & .eye {
        width: 14%;
        padding: 33% 0px 0px;
        background: var(--black);
        border-radius: 50%;
        top: 23%;
        left: 37%;
        animation: var(--eye-animation-timing) 0s infinite normal none running eye;
        &::before {
            content: "";
            background-color: var(--white);
            position: absolute;
            width: 65%;
            height: 45%;
            border-radius: 50%;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            animation: var(--eye-animation-timing) 0s infinite normal none running eye-before;
       }
        &.two {
            left: 61%;
            &::after {
                transform: rotate(-60deg);
                background-image: var(--eye3-gradient);
                left: 35%;
           }
       }
        & .eye_inner {
            background: var(--eye-gradient);
            border-radius: 50%;
            width: 100%;
            padding: 65% 0px 0px;
            transform: rotate(-90deg);
            bottom: 15%;
            position: absolute;
            animation: var(--eye-animation-timing) 0s infinite normal none running eye-inner;
       }
   }
    & .mouth {
        z-index: 50;
        border-radius: 35% 35% 50% 50% / 30% 30% 70% 70%;
        height: 16%;
        width: 21%;
        left: 46%;
        top: 59%;
        background: var(--brown);
        &::before {
            content: "";
            bottom: 3%;
            left: 50%;
            transform: translateX(-50%);
            width: 70%;
            height: 70%;
            border-radius: 40% 40% 50% 50% / 30% 30% 70% 70%;
            background: var(--pinkthree);
            display: block;
            position: absolute;
       }
   }
    & .cheek {
        background-color: var(--pinkthree);
        top: 56%;
        left: 20%;
        filter: blur(0.1vw);
        width: 14%;
        height: 8%;
        border-radius: 50%;
        transform: rotate(-10deg);
        z-index: 3;
        &.two {
            left: auto;
            right: 9%;
            transform: rotate(10deg);
       }
   }
    & .hand {
        top: 22%;
        left: -12%;
        background: var(--kirby-hand-gradient);
        border-radius: 60% 40% 40% 60% / 60% 40%;
        width: 30%;
        padding: 30% 0px 0px;
        transform: rotate(34deg);
        &.two {
            top: 19%;
            left: auto;
            right: -12%;
            background: var(--kirby-hand2-gradient);
            transform: rotate(164deg);
            z-index: -1;
       }
   }
    & [class*="foot"] {
        width: 50%;
        height: 35%;
        position: absolute;
        background: var(--foot-gradient);
        border-radius: 78% 22% 70% 30% / 59% 29% 71% 41%;
        z-index: 10;
   }
    & .foot-right {
        bottom: 0%;
        left: -10%;
        transform: rotate(-112deg);
   }
    & .foot-left {
        right: -16%;
        bottom: 1%;
        transform: rotate(-34deg);
        animation: 0.1s ease-in-out 0s infinite normal none running foot-mov-3;
   }
  }
  #container .wado_content {
    position: absolute;
    transform: translateX(100%) translateY(0%);
    bottom: 20px;
    right: calc(50% - 150px);
    width: 100px;
    height: auto;
    animation: kirbymove var(--kirby-animation-timing) infinite;
    opacity: 1;
    z-index: 100;
    & .wado_inner {
        background: linear-gradient(0deg, rgb(185, 127, 78), rgb(227, 118, 26) 20%, rgb(227, 118, 26));
        border-radius: 50%;
        width: 100%;
        padding: 100% 0px 0px;
        &::before, &::after {
            content: "";
            position: absolute;
            background: rgb(245, 225, 198);
       }
        &::before {
            top: 12%;
            left: 46%;
            width: 69%;
            height: 60%;
            border-radius: 50% 50% 40%;
            transform: translateX(-50%);
       }
        &::after {
            top: 43%;
            left: 46%;
            width: 81%;
            height: 45%;
            border-radius: 40%;
            transform: translateX(-50%);
            z-index: 0;
       }
   }
    & .eye, & .mouth, & .cheek, & .hand, & .foot {
        position: absolute;
        transition: 0.3s ease-in-out;
   }
    & .eye {
        width: 14%;
        padding: 33% 0px 0px;
        background: var(--black);
        border-radius: 50%;
        top: 23%;
        left: 25%;
        animation: var(--eye-animation-timing) 0s infinite normal none running eye;
        z-index: 10;
        &::before {
            content: "";
            background-color: var(--white);
            position: absolute;
            width: 65%;
            height: 45%;
            border-radius: 50%;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            animation: var(--eye-animation-timing) 0s infinite normal none running eye-before;
       }
        &.two {
            left: 51%;
            &::after {
                transform: rotate(-60deg);
                background-image: var(--eye3-gradient);
                left: 35%;
           }
       }
        & .eye_inner {
            background: var(--eye-gradient);
            border-radius: 50%;
            width: 100%;
            padding: 65% 0px 0px;
            transform: rotate(-90deg);
            bottom: 15%;
            position: absolute;
            animation: var(--eye-animation-timing) 0s infinite normal none running eye-inner;
       }
   }
    & .mouth {
        z-index: 50;
        border-radius: 35% 35% 50% 50% / 30% 30% 70% 70%;
        height: 16%;
        width: 21%;
        left: 46%;
        top: 59%;
        background: var(--brown);
        &::before {
            content: "";
            bottom: 3%;
            left: 50%;
            transform: translateX(-50%);
            width: 70%;
            height: 70%;
            border-radius: 40% 40% 50% 50% / 30% 30% 70% 70%;
            background: var(--pinkthree);
            display: block;
            position: absolute;
       }
   }
    & .cheek {
        background-color: var(--pinkthree);
        top: 56%;
        left: 8%;
        filter: blur(0.1vw);
        width: 14%;
        height: 8%;
        border-radius: 50%;
        transform: rotate(-10deg);
        z-index: 3;
        &.two {
            left: auto;
            right: 15%;
            transform: rotate(10deg);
       }
   }
    & .hand {
        top: 22%;
        left: 87%;
        background: linear-gradient(-35deg, rgb(213, 110, 24) 38%, rgb(227, 118, 26));
        border-radius: 60% 40% 40% 60% / 60% 40%;
        width: 30%;
        padding: 30% 0px 0px;
        transform: rotate(34deg);
        z-index: 1;
        &.two {
            top: 19%;
            left: -13%;
            background: linear-gradient(-35deg, rgb(213, 110, 24) 38%, rgb(227, 118, 26));
            transform: rotate(253deg);
            z-index: -1;
       }
   }
    & [class*="foot"] {
        width: 50%;
        height: 35%;
        position: absolute;
        background: var(--foot-gradient);
        border-radius: 78% 22% 70% 30% / 59% 29% 71% 41%;
        z-index: 10;
   }
    & .foot-right {
        bottom: 0%;
        left: -13%;
        transform: rotate(72deg);
   }
    & .foot-left {
        right: -10%;
        bottom: -1%;
        transform: rotate(-34deg);
        animation: 0.1s ease-in-out 0s infinite normal none running foot-mov-3;
   }
  }
  #container .sakura_content {
    position: absolute;
    left: 50%;
    bottom: 120px;
    width: 600px;
    height: auto;
    transform: translateX(-50%) translateY(0%);
    & .sakura_content_tree {
        background: var(--tree-color);
        mask-image: url("tree.png");
        mask-size: 600px;
        mask-repeat: no-repeat;
        mask-position: center bottom;
        height: 750px;
        width: 100%;
        position: relative;
        overflow: hidden;
        & .eye, & .nose ,& .mouth {
            position: absolute;
            transition: 0.3s ease-in-out;
        }
        & .eye {
            width: 3%;
            padding: 7% 0px 0px;
            border-radius: 50%;
            top: 63%;
            left: 53%;
            animation: var(--eye-animation-timing) 0s infinite normal none running eye2;
            z-index: 10;
            background: #7d502b;
            &.two {
                left: 58%;
            }
            &:before {
                content: '';
                box-shadow: inset 0 0 0 10px black;
                width: 90%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 10%;
                z-index: 100;
                border-radius: 50%;
                animation: var(--eye-animation-timing) 0s infinite normal none running eye-before2;
            }
        }
        & .nose {
            top: 70%;
            left: 51%;
            width: 7%;
            height: 2%;
            border-radius: 50% 30% 30% 50%;
            z-index: 1000;
            background: linear-gradient(10deg, #7d502b,  #B5753F);
        }
        & .mouth {
           z-index: 50;
           border-radius: 50%;
           height: 5%;
           width: 3%;
           left: 55.5%;
           top: 73%;
           background: #7d502b;
            &:before {
                content: '';
                box-shadow: inset 0 0 0 10px var(--black);
                width: 85%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 15%;
                z-index: 100;
                border-radius: 50%;
            } 
        }
    }
    & .sakura_content_leaf {
        content: "";
        background-image: radial-gradient(circle at 19% 49%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 33% 34%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 20% 61%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 28% 61%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 27% 44%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 27% 53%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 22% 38%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 27% 32%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 35% 71%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 29% 69%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 33% 54%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 35% 46%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 41% 22%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 34% 25%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 37% 58%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 42% 61%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 39% 37%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 44% 32%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 43% 73%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 50% 76%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 46% 43%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 43% 49%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 49% 65%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 62% 72%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 48% 58%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 63% 58%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 55% 26%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 49% 29%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 54% 20%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 48% 21%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 50% 50%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 61% 44%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 56% 43%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 50% 40%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 72% 38%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 55% 29%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 57% 63%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 57% 36%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 57% 75%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 65% 75%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 58% 51%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 76% 51%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 62% 21%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 62% 21%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 67% 27%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 65% 35%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 79% 63%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 67% 63%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 70% 50%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 88% 50%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 72% 71%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 80% 68%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 74% 58%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 74% 44%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 75% 28%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 81% 33%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 66% 53%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 67% 44%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 55% 53%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 83% 41%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 87% 60%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%), radial-gradient(circle at 86% 41%, rgb(252, 181, 199) 0.25%, rgb(252, 175, 188) 2.5%, transparent 11%);
        background-size: 100% 100%;
        display: block;
        width: 600px;
        height: 500px;
        background-repeat: no-repeat;
        position: absolute;
        top: 0px;
        left: -1%;
        z-index: 10;
        transform: translateX(0%) translateY(0%);
   }
    & .sakura {
        position: absolute;
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 10px;
        left: 0px;
        overflow: hidden;
        perspective: 50px;
        border-radius: 0% 70%;
        & li {
            padding: 10px;
            position: absolute;
            list-style: none;
            background: rgb(252, 181, 199);
            border-radius: 0% 80% 0% 60% / 0% 70% 0% 90%;
            top: 0px;
            &:nth-child(2n) {
                background: rgb(255, 204, 217);
                border-radius: 0% 70% 0% 90% / 0% 90% 0% 70%;
           }
            animation: 4s linear 0s infinite normal none running fall, 1s ease-in-out 0s infinite alternate none running rotate1;
            &:nth-child(1) {
                left: 0px;
                animation: 10s linear 0s infinite normal none running fall, 3s ease-in-out 0s infinite alternate none running rotate2;
           }
            &:nth-child(2) {
                left: 5%;
                animation: 15s linear 0s infinite normal none running fall, 2s ease-in-out 0s infinite alternate none running rotate3;
           }
            &:nth-child(3) {
                left: 15%;
                animation: 9s linear 0s infinite normal none running fall, 3.5s ease-in-out 0s infinite alternate none running rotate1;
           }
            &:nth-child(4) {
                left: 30%;
                animation: 8s linear 0s infinite normal none running fall, 6s ease-in-out 0s infinite alternate none running rotate2;
           }
            &:nth-child(5) {
                left: 40%;
                animation: 10s linear 0s infinite normal none running fall, 4s ease-in-out 0s infinite alternate none running rotate3;
           }
            &:nth-child(6) {
                left: 55%;
                animation: 11s linear 0s infinite normal none running fall, 3s ease-in-out 0s infinite alternate none running rotate1;
           }
            &:nth-child(7) {
                left: 65%;
                animation: 7s linear 0s infinite normal none running fall, 3.5s ease-in-out 0s infinite alternate none running rotate2;
           }
            &:nth-child(8) {
                left: 50%;
                animation: 7s linear 0s infinite normal none running fall, 5s ease-in-out 0s infinite alternate none running rotate3;
           }
            &:nth-child(9) {
                left: 60%;
                animation: 10s linear 0s infinite normal none running fall, 2s ease-in-out 0s infinite alternate none running rotate1;
           }
            &:nth-child(10) {
                left: 75%;
                animation: 10s linear 0s infinite normal none running fall, 3.5s ease-in-out 0s infinite alternate none running rotate2;
           }
            &:nth-child(11) {
                left: 85%;
                animation: 5s linear 0s infinite normal none running fall, 4s ease-in-out 0s infinite alternate none running rotate3;
           }
            &:nth-child(12) {
                left: 90%;
                animation: 10s linear 0s infinite normal none running fall, 3.5s ease-in-out 0s infinite alternate none running rotate1;
           }
       }
   }
  }


  .sheet_content {
    position: absolute;
    width: 500px;
    height: 23%;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    border-bottom: 92px solid #578fea;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
  }

  /* 弁当 */
  .bento_content {
    overflow: hidden;
    width: 150px;
    position: absolute;
    bottom: 2px;
    left: calc(50% + 20px);
    background: #d8b28d;
    padding: 0 0 0.5%;
    transform: translateX(-50%) translateY(0%) scale(1, 0.7);
    & .bento__content_inner {
        border: 0.2vw solid #EFC398;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        box-shadow: 0 2vw 0 #d8b28d;
        margin: 0px;
    }
    & .bento__block {
        border: .25vw solid #e69b51;
        width: 50%;
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        padding: 0;
        background: #c78646;
        box-shadow: inset .05vw .10vw 0 #a56f39;
        position: relative;
        box-sizing: border-box;
        & .bento__block__left {
            border: 0;
            width: 100%;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
        }
        & .bento__block__left__top {
            border: .25vw solid #af3636;
            width: 100%;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            padding: 0.1vw;
            background-color: #8c2f2f;
            box-shadow: inset .05vw .05vw 0 #712727;
            & .bento__egg__block {
                display: flex;
                flex-wrap: wrap;
                width: 50%;
                & .bento__egg__element {
                    background-color: #F9BE35;
                    width: 100%;
                    padding: 30% 0 0;
                    border-radius: 30% 30% 50% 30% / 40% 30% 40% 40%;
                    margin: 0 0 -.1vw;
                    position: relative;
                    box-shadow: inset -0.1vw -0.13vw 0 #96622E;
                    &:nth-of-type( 1 ):before {
                        top: 57%;
                    }
                    &:nth-of-type( 1 ):after {
                        top: 30%;
                    }
                    &:nth-of-type( 2 ) {
                        border-radius: 60% 50% 50% 30% / 20% 30% 30% 80%;
                        box-shadow: inset -.1vw -.1vw 0 #96622E;
                    }
                    &:before, &:after {
                        position: absolute;
                        background: white;
                        width: 25%;
                        padding: 10% 0 0 0;
                        transform: translateY(-50%) translateX(-50%);
                        -webkit-transform: translateY(-50%) translateX(-50%);
                    }
                    :before {
                        top: 39%;
                        left: 30%;
                        border-radius: 80% 80% 48% 80% / 40% 70% 90% 90%;
                    }
                    :after {
                        border-radius: 20% 40% 48% 80% / 80% 70% 40% 90%;
                        padding: 5% 0 0 0;
                        right: 10%;
                        top: 55%;
                        width: 20%;
                    }
                }
            }
            & .bento__chicken__block {
                display: flex;
                flex-wrap: wrap;
                width: 50%;
                & .bento__chicken__element {
                    width: 100%;
                    padding: 30%;
                    background: linear-gradient(#8a6143,#6f4e36 40%,#715038 70%,#715038 80%);
                    border-radius: 60% 50% 50% 30% / 20% 30% 30% 50%;
                    box-shadow: inset -.2vw -.3vw 0 #614326;
                    position: relative;
                    &:before, &:after {
                        position: absolute;
                    }
                }
                & .bento__chicken__pattern {
                    position: absolute;
                    transform: translateY(-50%) translateX(-50%);
                    -webkit-transform: translateY(-50%) translateX(-50%);
                    &:nth-of-type( 1 ) {
                        background: radial-gradient(#654541,#402e28 40%,#4a2a1e 70%,#3c1c11 80%);
                        width: 80%;
                        padding: 50% 0 0 0;
                        border-radius: 30% 70% 50% 30% / 50% 30% 60% 70%;
                        top: 58%;
                        left: 58%;
                    }
                    &:before, &:after {
                        position: absolute;
                        background-color: white;
                        width: 50%;
                        padding: 10% 0 0;
                        transform: translateY(-50%) translateX(-50%);
                    }
                    &:before {
                        top: 20%;
                        left: 50%;
                        border-radius: 60% 70% 50% 30% / 80% 80% 80% 80%;
                    }
                    &:after {
                        top: 27%;
                        left: 85%;
                        border-radius: 60% 70% 50% 30% / 80% 80% 80% 80%;
                    }
                }
            }
        }

    }
}


.bento__block__left__bottom {
    border: .25vw solid #1c2484;
    width: 100%;
    padding: 0;
    background-color: #141a56;
    box-shadow: inset 0.25vw 0.25vw 0 #0c103a;
}
.bento__sukiyaki .sukiyakientry {
    position: relative;
    padding: 70% 0 0;
}
.bento__sukiyaki .sukiyakientry:before {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    border-radius: 60% 70% 50% 30% / 80% 80% 80% 80%;
    background-color: #3c1f1f;
    width: 90%;
    padding: 60% 0 0 0;
    top: 50%;
    left: 50%;
}
.bento__sukiyaki .sukiyakientry_item {
    position: absolute;
}
.bento__sukiyaki .ninjin {
    top: 0;
    left: 9%;
    width: 30%;
    padding: 50% 0 0;
    background: #FF5F00;
    border-radius: 80% 40% 30% 70% / 60% 30% 80% 40%;
    box-shadow: inset -.25vw -.25vw 0 #F44A1C;
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
}
.bento__sukiyaki .niku {
    width: 60%;
    padding: 50% 0 0;
    background: linear-gradient(#7d2b21,#9a2800 40%,#802f10 70%,#75280d 80%);
    border-radius: 60% 70% 100% 30% / 50% 30% 70% 80%;
    box-shadow: inset -0.75vw -0.025vw .25vw #562010;
    top: -2%;
    right: 10%;
}
.mushroom {
    width: 40%;
    padding: 42% 0 0;
    background: radial-gradient(#443d3d,#402e28 40%,#4a2a1e 70%,#3c1c11 80%);
    border-radius: 40% 40% 40% 40%;
    box-shadow: inset -.1vw -.1vw .1vw #84644e;
    top: 39%;
    left: 0;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
.mushroom .mushroom-skew {
    display: block;
    width: 40%;
    height: 40%;
    background: #795f5f;
    position: absolute;
}
.mushroom .mushroom-skew > * {
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
}
.mushroom .mushroom-skew-1 {
    -webkit-transform: rotate(0deg) skew(calc((90deg - 30deg) / 2), calc((90deg - 30deg) / 2));
            transform: rotate(0deg) skew(calc((90deg - 30deg) / 2), calc((90deg - 30deg) / 2));
    left: 23%;
    top: 30%;
}
.mushroom .mushroom-skew-2 {
    -webkit-transform: rotate(60deg) skew(calc((90deg - 30deg) / 2), calc((90deg - 30deg) / 2));
            transform: rotate(60deg) skew(calc((90deg - 30deg) / 2), calc((90deg - 30deg) / 2));
    top: 28%;
    left: 24%;
}
.mushroom .mushroom-skew-3 {
    -webkit-transform: rotate(120deg) skew(calc((90deg - 30deg) / 2), calc((90deg - 30deg) / 2));
            transform: rotate(120deg) skew(calc((90deg - 30deg) / 2), calc((90deg - 30deg) / 2));
    top: 30%;
    left: 24%;
}
.shungiku {
    position: absolute;
    top: 49%;
    right: 8%;
    width: 10%;
    padding: 38% 0 0;
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
}
.shungiku:last-child {
    right: 18%;
    top: 45%;
    -webkit-transform:rotate(-5deg);
            transform:rotate(-5deg);
}
.shungiku .shungiku-skew {
    display: block;
    width: 50%;
    padding: 70% 0 0;
    background: #7B9D52;
    position: absolute;
    border-radius: .5vw;
    box-shadow: inset -.25vw -.1vw 0 #5a733c;
    z-index: 3;
}
.shungiku .shungiku-skew-1 {
    -webkit-transform: rotate(50deg) skew(calc((60deg - 3deg)));
            transform: rotate(50deg) skew(calc((60deg - 3deg)));
    right: 29%;
    top: 9%;
}
.shungiku .shungiku-skew-2 {
    -webkit-transform: rotate(30deg) skew(calc((60deg - 3deg)));
            transform: rotate(30deg) skew(calc((60deg - 3deg)));
    right: 61%;
    top: 23%;
}
.shungiku .shungiku-skew-3 {
    -webkit-transform: rotate(70deg) skew(calc((60deg - 3deg)));
            transform: rotate(70deg) skew(calc((60deg - 3deg)));
    left: 50%;
    top: 30%;
}
.shungiku .shungiku-skew-4 {
    -webkit-transform: rotate(90deg) skew(calc((60deg - 0deg)));
            transform: rotate(90deg) skew(calc((60deg - 0deg)));
    left: 60%;
    top: 40%;
}
.shungiku .shungiku-skew-5 {
    -webkit-transform: rotate(41deg) skew(calc((60deg - 3deg)));
            transform: rotate(41deg) skew(calc((60deg - 3deg)));
    right: 43%;
    top: 19%;
}
.shungiku .shungiku-skew-6 {
    -webkit-transform: rotate(30deg) skew(calc((60deg - 3deg)));
            transform: rotate(30deg) skew(calc((60deg - 3deg)));
    right: 50%;
    top: 40%;
}
.shungiku .shungiku-skew-7 {
    -webkit-transform: rotate(70deg) skew(calc((60deg - 3deg)));
            transform: rotate(70deg) skew(calc((60deg - 3deg)));
    left: 58%;
    top: 50%;
}
.shungiku .shungiku-skew-8 {
    -webkit-transform: rotate(90deg) skew(calc((60deg - 0deg)));
            transform: rotate(90deg) skew(calc((60deg - 0deg)));
    left: 60%;
    top: 28%;
}
.shungiku .shungiku-skew-9 {
    -webkit-transform: rotate(39deg) skew(calc((60deg - 3deg)));
            transform: rotate(39deg) skew(calc((60deg - 3deg)));
    right: 43%;
    top: 55%;
}
.shungiku .shungiku-skew-10 {
    -webkit-transform: rotate(30deg) skew(calc((60deg - 3deg)));
            transform: rotate(30deg) skew(calc((60deg - 3deg)));
    right: 59%;
    top: 60%;
}
.shungiku .shungiku-skew-11 {
    -webkit-transform: rotate(70deg) skew(calc((60deg - 3deg)));
           transform: rotate(70deg) skew(calc((60deg - 3deg)));
    left: 42%;
    top: 6%;
}
.shungiku .shungiku-skew-12 {
    -webkit-transform: rotate(90deg) skew(calc((60deg - 0deg)));
            transform: rotate(90deg) skew(calc((60deg - 0deg)));
    left: 60%;
    top: 58%;
}
.shungiku:after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: .25vw solid #a5cc75;
    padding: 100% 0 0;
    left: 50%;
    top: 0;
    z-index: 2;
    border-radius: 1vw .2vw .1vw 0;
    -webkit-transform: translateY(-0%) translateX(-50%);
            transform: translateY(-0%) translateX(-50%);
}
.greenonions {
    width: 12%;
    background: linear-gradient(#fbfbfb,#e6e6e6 40%,#e2dede 70%,#d6d1d1 80%);
    border-radius: 40% 20% 30% 10%;
    box-shadow: inset -0.15vw -0.15vw 0 #8c8c8c, inset -0.15vw -0.15vw 0.3vw #8c8c8c;
    padding: 30% 0 0;
    top: 0;
    right: 15%;
    z-index: 1;
    -webkit-transform: rotate(26deg);
            transform: rotate(26deg);
}
.greenonions .sukiyakientry_item_inner {
    border: .1vw solid #5ed422;
    position: absolute;
    width: 64%;
    height: 70%;
    border-radius: 50% 20% 50% 20%;
    top: 50%;
    left: 45%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
}
.greenonions:nth-of-type( 2 ) {
    top: 7%;
    right: 4%;
    -webkit-transform: rotate(33deg);
            transform: rotate(33deg);
}
.tofu {
    width: 30%;
    padding: 40% 0 0;
    background: #e6e6e6;
    border-radius: 10% 21% 10% 24%;
    box-shadow: inset -0.5vw -0.3vw 0 #c5c5c5;
    top: 74%;
    right: 10%;
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(80deg);
            transform: translateY(-50%) translateX(-50%) rotate(80deg);
}
.bento__rice {
    width: 85%;
    height: 85%;
    background: #fff;
    position: absolute;
    transform: translate(24vw, 7vw);
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    border-radius: 26% 20% 25% 10% / 18% 14% 20% 10%;
}
.bento__rice__saltedplum {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    width: 10%;
    padding: 10% 0 0;
    background: radial-gradient(#ff8879,#fd6b38 40%,#fd6b38 70%,#fd6b38 80%);
    border-radius: 40% 50% 50% 40%;
    box-shadow: inset -0.15vw -0.23vw 0 #b5401c;
}
.bento__rice__pattern {
    width: 25%;
    padding: 12% 0 0;
    top: -2%;
    left: 69%;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    border-radius: 60%;
    background: #fff;
    position: absolute;
    border-radius: 86% 80% 75% 80% / 88% 84% 60% 80%;
}
.bento__rice__pattern:nth-of-type(2) {
    border-radius: 86% 80% 85% 80% / 88% 84% 80% 10%;
    top: -3%;
    left: 30%;
    width: 50%;
    padding: 14% 0 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.bento__rice__pattern:nth-of-type(3) {
    border-radius: 86% 80% 85% 80% / 88% 84% 80% 60%;
    top: 70%;
    left: 33%;
    width: 52%;
    padding: 30% 0 0;
    z-index: 2;
    box-shadow: inset 0 -0.1vw 0 #E8D6CC;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.bento__rice__pattern:nth-of-type(4) {
    border-radius: 86% 80% 85% 80% / 88% 84% 80% 50%;
    top: 70%;
    left: 3%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: inset 0 -0.127vw 0 #E8D6CC;
    width: 30%;
    padding: 30% 0 0;
}
.bento__rice__pattern:nth-of-type(5) {
    border-radius: 86% 80% 85% 80% / 88% 84% 80% 80%;
    top: 42%;
    left: -22%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 50%;
    padding: 11% 0 0;
}
.bento__rice__pattern:nth-of-type(6) {
    border-radius: 86% 80% 85% 80% / 58% 54% 30% 50%;
    top: 27%;
    left: 63%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 55%;
    padding: 31% 0 0;
    box-shadow: inset 0 0.075vw 0 #E8D6CC;
}
.bento__rice__pattern:nth-of-type(7) {
    top: 74%;
    left: 73%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    padding: 14% 0 0;
    z-index: 4;
    box-shadow: inset 0 -0.125vw 0 #E8D6CC;
}
.bento__rice__pattern:before, .bento__rice__pattern:after {
    content: '';
    background: #fff;
    width: 8%;
    padding: 15% 0 0;
    border-radius: 50%;
    position: absolute;
    transform: rotate(125deg);
    box-shadow: inset 0.15vw 0 0 #e4e2da, inset 0.15vw 0.15vw 0 #e4e2da, inset 0 0 0 #e4e2da, inset 0.15vw 0.05vw 0 #e4e2da;
}
.bento__rice__pattern:before {
    left: 26%;
    top: 39%;
}
.bento__rice__pattern:after {
    left: 15%;
    top: 26%;
}
.bento__rice__pattern:nth-of-type(2):before {
    left: 26%;
    top: 61%;
}
.bento__rice__pattern:nth-of-type(4):before {
    top: 8%;
    width: 14%;
    padding: 22% 0 0;
    -webkit-transform: rotate(110deg);
            transform: rotate(110deg);
}
.bento__rice__pattern:nth-of-type(4):after {
    top: 0;
}
.bento__rice__pattern:nth-of-type(5):before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -136%;
}
.bento__rice__pattern:nth-of-type(5):after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -100%;
}
.bento__rice__pattern:nth-of-type(6):before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 80%;
    left: 26%;
}
.bento__rice__pattern:nth-of-type(6):after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 98%;
    left: 15%;
}
.bento__rice__pattern:nth-of-type(7):before {
    width: 13%;
    padding: 26% 0 0;
}
.bento__rice__pattern:nth-of-type(7):after {
    width: 13%;
    padding: 26% 0 0;
    left: 5%;
}


@keyframes eye {
    0%, 51%, 53%, 98%, 100% {
        background: var(--black);
   }
    51.5%, 52.5%, 98.5%, 99.5% {
        background: transparent;
   }
    52%, 99% {
        background: var(--black);
   }
  }
  @keyframes eye-inner {
    0%, 51%, 53%, 98%, 100% {
        background: var(--eye-gradient);
   }
    51.5%, 52.5%, 98.5%, 99.5% {
        background: transparent;
   }
    52%, 99% {
        background: var(--eye-gradient);
   }
  }
  @keyframes eye-before {
    0%, 51%, 52%, 53%, 98%, 99%, 100% {
        top: 5%;
        background-color: var(--white);
        width: 65%;
        height: 45%;
    }
    51.5%, 52.5%, 98.5%, 99.5% {
        top: 62%;
        background-color: var(--black);
        width: 200%;
        height: 2%;
    }
    100% {
        width: 60%;
    }
  }
  @keyframes eye2 {
    0%, 51%, 53%, 98%, 100% {
        background: #7d502b;
    }
    51.5%, 52.5%, 98.5%, 99.5% {
        background: transparent;
    }
    52%, 99% {
        background: #7d502b;
    }
  }
  @keyframes eye-before2 {
    0%, 51%, 53%, 98%, 100% {
        box-shadow: inset 0 0 0 10px black;
    }
    51.5%, 52.5%, 98.5%, 99.5% {
        box-shadow: inset 0 0 0 10px transparent;
    }
    52%, 99% {
        box-shadow: inset 0 0 0 10px black;
    }
  }

  @keyframes fall {
    0% {
        top: 0%;
   }
    100% {
        top: 150%;
   }
  }
  @keyframes rotate1 {
    0% {
        transform: translateX(0px) translateZ(-50px) rotate(0deg);
   }
    100% {
        transform: translateX(100px) translateZ(-30px) rotateY(10deg);
   }
  }
  @keyframes rotate2 {
    0% {
        transform: translateX(0px) translateZ(-40px) rotate(0deg);
   }
    100% {
        transform: translateX(100px) translateZ(-60px) rotateY(20deg);
   }
  }
  @keyframes rotate3 {
    0% {
        transform: translateX(0px) translateZ(-40px) rotate(10deg);
   }
    100% {
        transform: translateX(100px) translateZ(-60px) rotateY(0deg);
   }
  }

  @keyframes mokumoku { 
    0% { opacity: 0; bottom: 10%;  } 
    25% { opacity: 0.7; } 
    75% { opacity: 0.7; } 
    100% { opacity: 0; bottom: 50%; }
  }  

  @media (420px <= width <= 600px ){
    .sakura_content, .kirby_content, .wado_content, .bento_content, .sheet_content {
        zoom: 0.75;
    }
  }  

  @media (420px >= width){
    .sakura_content, .kirby_content, .wado_content, .bento_content, .sheet_content {
        zoom: 0.5;
    }
  }
