@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');
:root{
 --white: white;
 --pink: #fff7f8;
}
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  block-size: 100%;
}
body {
  min-block-size: 100%;
  font-size: 62.5%;
  background-color: #fff7f8;
  font-family: "M PLUS Rounded 1c" ,sans-serif;
}
main {
  display: grid;
  grid-template-columns: 1fr min(calc(100% - 4rem), 100%) 1fr;
  gap: 1rem;
  margin: 1rem 0;
}
main > * {
  grid-column: 2;
}
h1 {
  font-size: 1.5rem;
}
figure {
  padding: 10px;
  display: inline-block;
  line-height: 0;
  background-color: var(--white);
  overflow: hidden;
  box-shadow: 2px 2px 3px 0px #979797;
}
figure img {
  padding: 0 0 10px;
  width: 100%;
}
figcaption {
  font-size: 14px;
  display: block;
  height: 14px;
  line-height: 1;
}
[class*="pettern"] {
  margin-bottom: 20px;
  width: 478px;
  height: 338px;
  position: relative;
}
[class*="pettern"] .front,
[class*="pettern"] .back {
  position: absolute;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
[class*="pettern"] .front {
  z-index: 1;
}

.pettern1 .back {
  -webkit-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}
.pettern1:hover .front {
  z-index: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.pettern1:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}
.pettern2 .back {
  -webkit-transform: rotateX( 180deg );
          transform: rotateX( 180deg );
}
.pettern2:hover .front {
  z-index: 0;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.pettern2:hover .back {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
.pettern3 {
  -webkit-transition: all 0.3s cubic-bezier(0.5, 1.3, 0.5, 1.3);
          transition: all 0.3s cubic-bezier(0.5, 1.3, 0.5, 1.3);
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}
.pettern3:hover {
  -webkit-transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
          transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
  -webkit-transform: scale(1.1) rotate(3deg);
          transform: scale(1.1) rotate(3deg);
}
.pettern4 figure {
  -webkit-transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
          transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
}
.pettern4 .grass {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  bottom: 0;
  left: 0;
}
.pettern4 .grass__blade {
  position: absolute;
}
.pettern4 .grass__blade--1 {
  border-right: 3px solid #a2c491;
  border-top-right-radius: 70%;
  -webkit-transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
          transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
  height: 50%;
  width: 8%;
  bottom: -50%;
  left: -5%;
  will-change: filter;
  -webkit-filter: drop-shadow(11px 21px 0px #a2c491) drop-shadow(23px 0px 0px #a2c491) drop-shadow(49px 0px 0px #a2c491) drop-shadow(85px 0px 0px #a2c491) drop-shadow(170px 0px 0px #a2c491) drop-shadow(350px 0px 0px #a2c491);
          filter: drop-shadow(11px 21px 0px #a2c491) drop-shadow(23px 0px 0px #a2c491) drop-shadow(49px 0px 0px #a2c491) drop-shadow(85px 0px 0px #a2c491) drop-shadow(170px 0px 0px #a2c491) drop-shadow(350px 0px 0px #a2c491);
  -webkit-animation: move-blade-1 10s infinite;
          animation: move-blade-1 10s infinite;
}
.pettern4 .grass__blade--1:before{
  content: '';
  border-left: 3px solid #a2c491;
  border-top-left-radius: 70%;
  -webkit-transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
          transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
  height: 60%;
  width: 48%;
  bottom: 25%;
  left: 100%;
  position: absolute;
}
@keyframes move-blade-1 {
  0%, 30%, 50%, 55%, 82%, 97%, 100%{border-top-right-radius: 50%;}
  20%{border-top-right-radius: 30%;}
  40%{border-top-right-radius: 20%;}
  70%{border-top-right-radius: 25%;}
  90%{border-top-right-radius: 35%;}
}
@-webkit-keyframes move-blade-1 {
  0%, 30%, 50%, 55%, 82%, 97%, 100%{border-top-right-radius: 50%;}
  20%{border-top-right-radius: 30%;}
  40%{border-top-right-radius: 20%;}
  70%{border-top-right-radius: 25%;}
  90%{border-top-right-radius: 35%;}
}
@media (min-width: 768px) {
  .pettern4:hover figure{
    opacity: .7;
    -webkit-transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
            transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
  }
  .pettern4:hover .grass__blade--1{
    bottom: -30%;
    -webkit-transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
            transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
  }
}
@media (max-width: 767px) {
  [class*="pettern"] {
    width: 100%;
    height: auto;
    margin: 0 0 76%;
  }
  .pettern4.active figure{
    opacity: .7;
    -webkit-transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
            transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
  }
  .pettern4.active .grass__blade--1{
    bottom: -30%;
    -webkit-transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);

  }
