@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');

:root{
 --white: white;
 --pink: #fff7f8;
}
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  block-size: 100%;
}
body {
  min-block-size: 100%;
  font-size: 62.5%;
  background-color: #fff7f8;
  font-family: "M PLUS Rounded 1c" ,sans-serif;
}
main {
  display: grid;
  grid-template-columns: 1fr
    min(calc(100% - 4rem), 100%)
    1fr;
  gap: 1rem;
  margin: 1rem 0;
}
main > * {
  grid-column: 2;
}
h1 {
  font-size: 1.5rem;
}
figure {
  padding: 10px;
  display: inline-block;
  box-shadow: 2px 2px 3px 0px #979797;
  line-height: 0;
  background-color: var(--white);
  overflow: hidden;
}
figure img {padding: 0 0 10px;}
figcaption {
  font-size: 14px;
  display: block;
  height: 14px;
  line-height: 1;
}
[class*="pettern"] {
  margin-bottom: 20px;
  width: 478px;
  height: 338px;
  position: relative;
}
[class*="pettern"] :is(.front, .back) {
  position: absolute;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
[class*="pettern"] .front {
  z-index: 1;
}

.pettern1 .back {
  transform: rotateY( 180deg );
}
.pettern1:hover .front {
  z-index: 0;
  transform: rotateY(180deg);
}
.pettern1:hover .back {
  transform: rotateY(0);
}

.pettern2 .back {
  transform: rotateX( 180deg );
}
.pettern2:hover .front {
  z-index: 0;
  transform: rotateX(180deg);
}
.pettern2:hover .back {
  transform: rotateX(0);
}
.pettern3 {
  transition: all 0.3s cubic-bezier(0.5, 1.3, 0.5, 1.3);
  transform: scale(1) rotate(0deg);
}
.pettern3:hover {
  transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
  transform: scale(1.1) rotate(3deg);
}


.pettern4 figure {
  transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
}
.pettern4 .grass {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  bottom: 0;
  left: 0;
}
.pettern4 .grass__blade {
  position: absolute;
}
.pettern4 .grass__blade--1 {
  border-right: 3px solid #a2c491;
  border-top-right-radius: 70%;
  transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
  height: 50%;
  width: 8%;
  bottom: -50%;
  left: -5%;
  filter: drop-shadow(11px 21px 0px #a2c491) drop-shadow(23px 0px 0px #a2c491) drop-shadow(49px 0px 0px #a2c491) drop-shadow(85px 0px 0px #a2c491) drop-shadow(170px 0px 0px #a2c491) drop-shadow(350px 0px 0px #a2c491);
  animation: move-blade-1 10s infinite;  
}
.pettern4 .grass__blade--1:before{
  content: '';
  border-left: 3px solid #a2c491;
  border-top-left-radius: 70%;
  transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
  height: 60%;
  width: 48%;
  bottom: 25%;
  left: 100%;
  position: absolute;
}
.pettern4:hover figure {
  opacity: .7;
  transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
}
.pettern4:hover .grass__blade--1 {
  bottom: -30%;
  transition: all 0.5s cubic-bezier(0.5, 1.3, 0.5, 1.3);
}
@keyframes move-blade-1 {
  0%, 30%, 50%, 55%, 82%, 97%, 100%{border-top-right-radius: 50%;}
  20%{border-top-right-radius: 30%;}
  40%{border-top-right-radius: 20%;}
  70%{border-top-right-radius: 25%;}
  90%{border-top-right-radius: 35%;}
}
