:root {
  --gray: #666;
  --white: #fff;
  --black: #000;
  --pink: #d77584;
  --pinktwo: #ff9db5;
  --brown: #752b42;
  --pinkthree: #f0608b;
  --red: #af2d13;
  --waterblue: #8ed3dd;
  --switch-transition: 250ms ease-out;
  --border-width: 0.2vw;
  --switch-shadow: 0.3vw 0.3vw 0.1vw;
  --label-size: 30px;
  --checkbox-size: 15px;
  --kirby-animation-timing: 0.25s ease-in-out;
  --eye-animation-timing: 5s ease-out;
  --eye-gradient: radial-gradient(circle at 100% center, rgb(0, 0, 0), rgb(0, 0, 0) 50%, rgb(28, 34, 213) 75%, rgb(28, 34, 213) 75%);
  --eye2-gradient: linear-gradient(90deg, #f6bfce, #fcb5c7 95%, var(--black) 95% 100%);
  --eye3-gradient: linear-gradient(-90deg, #f6bfce, #fcb5c7 95%, var(--black) 95% 100%);  
  --kirby-gradient: linear-gradient(0deg, var(--pink), var(--pinktwo) 20%, #ffc8d6);
  --kirby-hand-gradient: linear-gradient(116deg, rgb(248, 182, 199) 38%, rgb(255, 153, 178));
  --kirby-hand2-gradient: linear-gradient(-35deg, rgb(248, 182, 199) 38%, rgb(255, 153, 178));
  --foot-gradient: linear-gradient(0deg, var(--brown), var(--red) 20%, #cf472c);

  /* ぼよんぼよんする動き */
  --ease-bounce-out-2: linear(0, 0.2178 2.1%, 1.1144 8.49%, 1.2959 10.7%, 1.3463 11.81%, 1.3705 12.94%, 1.3726, 1.3643 14.48%, 1.3151 16.2%, 1.0317 21.81%, 0.941 24.01%, 0.8912 25.91%, 0.8694 27.84%, 0.8698 29.21%, 0.8824 30.71%, 1.0122 38.33%, 1.0357, 1.046 42.71%, 1.0416 45.7%, 0.9961 53.26%, 0.9839 57.54%, 0.9853 60.71%, 1.0012 68.14%, 1.0056 72.24%, 0.9981 86.66%, 1);

  /* バウンス */
  --ease-bounce-out: linear(0, 0.004, 0.016, 0.035, 0.063 9.1%, 0.141, 0.25, 0.391, 0.563, 0.765, 1, 0.891, 0.813 45.5%, 0.785, 0.766, 0.754, 0.75, 0.754, 0.766, 0.785, 0.813 63.6%, 0.891, 1 72.7%, 0.973, 0.953, 0.941, 0.938, 0.941, 0.953, 0.973, 1, 0.988, 0.984, 0.988, 1);
}

/* カスタムプロパティを定義し、初期値0degにする */
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;/* 初期値 */
  inherits: true;/*　親要素で値を上書きした場合、子要素にルールを継承する */
}

/* 角度のアニメーション */
@keyframes change-deg {
  to {
    --angle: 180deg;
  }
}

body {
  padding: 0;
  margin: 0;
}

#container .kirby_content {
  position: absolute;
  transform: translateX(-50%) translateY(-50%) scale(0.5);
  top: 50%;
  left: 50%;
  width: 25%;
  height: auto;
  opacity: .8;
  animation: bounce 1s var(--ease-bounce-out) forwards;
  animation-iteration-count: 1;
  /*animation-timing-function: var(--ease-bounce-out);  */
}
#container .kirby_inner {
  background: var(--kirby-gradient);
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
  animation: poyon 1.5s linear .35s 1,
             korokoro 4s var(--ease-bounce-out-2) .35s 1,
             change-deg 1s linear 0.35s 1,
             poyooon 1s linear 4s 1,
             poyooon2 1.5s linear 5.5s infinite;
  animation-play-state: running;
}
#container .kirby_inner_face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
	--radius: 240px; /* test-itemが周回する円軌道の半径 */
  --angle-item: calc(360deg); /* 子要素の数で等分した角度 */
  --angle-index: calc(0 * var(--angle-item)); /* 子要素ごとの角度 */  
  transform: translate3d(
    /*  X軸=cos（keyframesで動的に変化する角度＋itemごとの角度）*半径 */
    calc(sin(var(--angle) + var(--angle-index)) * var(--radius)),
    0px,
    /*  Y軸=sin（keyframesで動的に変化する角度＋itemごとの角度）*半径*-1 */
    calc(cos(var(--angle) + var(--angle-index)) * var(--radius) * -1)
  )
  rotateY(calc(sin(var(--angle) + var(--angle-index)) * 90deg));
}
#container .tears,
#container .eye,
#container .mouth,
#container .cheek,
#container .hand,
#container .foot {
  position: absolute;
  transition: 0.3s ease-in-out;
}
#container .eye {
  width: 14%;
  padding-top: 33%;
  background: var(--black);
  border-radius: 50%;
  top: 27%;
  left: 32%;
  animation: eye var(--eye-animation-timing) infinite;  
  &::before {
    content: "";
    background-color: var(--white);
    position: absolute;
    width: 65%;
    height: 45%;
    border-radius: 50%;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    animation: eye-before var(--eye-animation-timing) infinite;
  }
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    z-index: 2;
    transform: rotate(60deg);
    top: -30%;
    left: -33%;
    padding-top: 130%;
    background-image: var(--eye2-gradient);
  }
  &.two {
    left: 57%;
    &::after {
      transform: rotate(-60deg);
      background-image: var(--eye3-gradient);
      left: 35%;
    }
  }
}
#container .eye_inner {
  background: var(--eye-gradient);
  border-radius: 50%;
  width: 100%;
  padding-top: 65%;
  transform: rotate(-90deg);
  bottom: 15%;
  position: absolute;
  animation: eye-inner var(--eye-animation-timing) infinite;
}
#container .mouth {
  top: 68%;
  left: 53%;
  z-index: 50;
  height: 3%;
  width: 5%;
  border-radius: 60% 60% 50% 50%;
  background: var(--brown);
  &::before {
    content: "";
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 70%;
    border-radius: 40% 40% 50% 50% / 40% 40% 70% 70%;
    background: var(--pinkthree);
    display: block;
    position: absolute;
  }
}
#container .cheek {
  background-color: var(--pinkthree);
  top: 60%;
  left: 15%;
  filter: blur(0.1vw);
  width: 14%;
  height: 8%;
  border-radius: 50%;
  transform: rotate(-10deg);
  z-index: 3;
  &.two {
    left: auto;
    right: 13%;
    transform: rotate(10deg);
  }
}
#container .eye {
  top: 23%;
  &::after {
    display: none;
  }
}
#container .cheek {
  top: 56%;
}
#container .mouth {
  border-radius: 35% 35% 50% 50% / 30% 30% 70% 70%;
  height: 16%;
  width: 21%;
  left: 41%;
  top: 59%;
  &::after {
    content: "";
    border-radius: 40% 40% 50% 50% / 30% 30% 70% 70%;
  }
}
#container .hand {
  top: 27%;
  transform: rotate(16deg);
  &.two {
    top: 25%;
    transform: rotate(164deg);
  }
}
@media (max-width: 767px) {
  #container .kirby_content {
      width: 50%;
  }
}
@keyframes eye {
  0%, 51%, 53%, 98%, 100% { background: var(--black); }
  51.5%, 52.5%, 98.5%, 99.5% { background: transparent; }
  52%, 99% { background: var(--black); }
}
@keyframes eye-inner {
  0%, 51%, 53%, 98%, 100% { background: var(--eye-gradient); }
  51.5%, 52.5%, 98.5%, 99.5% { background: transparent; }
  52%, 99% { background: var(--eye-gradient); }
}
@keyframes eye-before {
  0%, 51%, 52%, 53%, 98%, 99%, 100% {
    top: 5%;
    background-color: var(--white);
    width: 65%;
    height: 45%;
  }
  51.5%, 52.5%, 98.5%, 99.5% {
    top: 62%;
    background-color: var(--black);
    width: 200%;
    height: 2%;
  }
  100% {
    width: 60%;
  }
}
@keyframes bounce {
  from { translate: 0 -400px;}
  to { translate: 0 0; }
}
@keyframes poyon {
  0%  { transform: scale(1.4, 0.8), translate(0%, 0%) }
  10%  { transform: scale(0.9, 1.1), translate(0%, 0%)}
  20%  { transform: scale(0.95, 1.2), translate(0%, 0%) }
  30%  { transform: scale(0.95, 1.2), translate(0%, 0%) }
  40%  { transform: scale(1.1, 0.9), translate(0%, 0%)}
  50%  { transform: scale(1.0, 1.0), translate(0%, 0%) }
  100% { transform: scale(1.0, 1.0), translate(0%, 0%)}
}
@keyframes korokoro {
  0%   { transform: translate(0%, 0%); }
  100% { transform: translate(130%, 0%) rotate(340deg); }  
}
@keyframes poyooon {
  0%   { transform: scale(1.0, 1.0) translate(130%, 0%) rotate(340deg); }
  10%  { transform: scale(1.1, 0.9) translate(120%, 5%) rotate(340deg); }
  40%  { transform: scale(1.2, 0.8) translate(110%, 15%) rotate(340deg); }
  50%  { transform: scale(1.0, 1.0) translate(130%, 0%) rotate(360deg); }
  60%  { transform: scale(0.9, 1.2) translate(25%, -50%) rotate(360deg); }
  75%  { transform: scale(0.9, 1.2) translate(5%, -20%) rotate(360deg); }
  85%  { transform: scale(1.2, 0.8) translate(0%, 15%) rotate(360deg); }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%) rotate(360deg); }
}
@keyframes poyooon2 {
  0%   { transform: scale(1.0, 1.0) translate(0%, 0%) }
  5%  { transform: scale(1.1, 0.9) translate(0%, 5%) }
  10%  { transform: scale(1.1, 0.9) translate(0%, 10%) }
  15%  { transform: scale(1.0, 1.0) translate(0%, 0%) }
  20%  { transform: scale(0.9, 1.1) translate(0%, -10%) }
  25%  { transform: scale(0.9, 1.1) translate(0%, -5%) }
  27%  { transform: scale(1.1, 0.8) translate(0%, 10%) }
  35% { transform: scale(1.0, 1.0) translate(0%, 0%) }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%) }
}