@charset 'UTF-8';
/**
* common
**/
:root {
  --gray: #666;
  --white: #fff;
  --black: #000;
  --pink: #d77584;
  --pinktwo: #ff9db5;
  --brown: #752b42;
  --pinkthree: #f0608b;
  --red: #af2d13;
  --waterblue: #8ed3dd;
}
body {
  padding:0;
  margin:0;
  background: var(--white);
}
h1 {
  text-align: center;
  font-weight: normal;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  padding: 10px 0;
  font-size: 16px;
}
input[type=checkbox] {
  border: 1px solid var(--pink);
  -webkit-appearance: none;
          appearance: none;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  transition: all .15s ease-out 0s;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  outline: none;
  background-color: var(--white);
  position: relative;
}
input[type=checkbox]:before {
  display: block;
  transition: all ease-out 250ms;
  position: absolute;
  box-sizing: border-box;
  top: 4px;
  left: 8px;
  width: 10px;
  height: 14px;
  transform: rotate(40deg) scale(0);
  border-bottom: 2px solid var(--pink);
  border-right: 2px solid var(--pink);
}
input[type=checkbox]:checked:before {
  transform: rotate(40deg) scale(1);
}
main {
  margin: 1rem;
  width: calc(100% - 2rem);
  height: calc(100vh - 2rem);
}
*:before,
*:after {
  content: "";
}
/**
* kirby
**/
#container .kirby_content {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  width: 25%;
  height: auto;
  animation: kirbymove .25s ease-in-out infinite;
}
#container .kirby_content .kirby_inner {
  background: linear-gradient(0deg, var(--pink), var(--pinktwo) 20%, #ffc8d6);
  border-radius: 50%;
  width: 100%;
  padding: 100% 0 0;
  /*box-shadow: 0 0 0 0.05vw var(--black);*/
}
#container .kirby_content .kirby_inner .tears,
#container .kirby_content .kirby_inner .eye,
#container .kirby_content .kirby_inner .mouth,
#container .kirby_content .kirby_inner .cheek,
#container .kirby_content .kirby_inner .hand,
#container .kirby_content .kirby_inner .foot {
  position: absolute;
  transition: all ease-in-out .3s;
}
#container .kirby_content .kirby_inner .eye {
  width: 14%;
  padding: 33% 0 0;
  background: var(--black);
  border-radius: 50%;
  top: 27%;
  left: 37%;
  animation: eye 5s ease-out infinite;
} 
#container .kirby_content .kirby_inner .eye_inner {
  background: radial-gradient(circle at 100%, #000, #000 50%, #1c22d5 75%, #1c22d5 75%);
  border-radius: 50%;
  width: 100%;
  padding: 65% 0 0;
  transform: rotate(-90deg);
  bottom: 15%;
  position: absolute;
  animation: eye-inner 5s ease-out infinite;
}
#container .kirby_content .kirby_inner .eye:before {
  background-color: var(--white);
  position: absolute;
  width: 65%;
  height: 45%;
  border-radius: 50%;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  animation: eye-before 5s ease-out infinite;
}
#container .kirby_content .kirby_inner .eye:after {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  top: -30%;
  z-index: 1111;
  transform: rotate(60deg);
  left: -33%;
  padding: 130% 0 0;
  background-image: linear-gradient(90deg, #f6bfce, #fcb5c7 95%, var(--black) 95% 100%);
}
#container .kirby_content .kirby_inner .eye.two {
  left: 61%;
}
#container .kirby_content .kirby_inner .eye.two:after {
  transform: rotate(-60deg);
  background-image: linear-gradient(-90deg, #f6bfce, #fcb5c7 95%, var(--black) 95% 100%);
  left: 35%;
}
#container .kirby_content .kirby_inner .tears {
  top: 57%;
  right: 27%;
  display: block;
  width: 0%;
  height: 0%;
  background: var(--waterblue);
  border-radius: 70% 70% 50% 50%/70% 70% 50% 50%;
  animation: tears 5s ease-out infinite;
}
#container .kirby_content .kirby_inner .mouth {
  border-radius: 50%;
  position: absolute;
  top: 68%;
  left: 53%;
  z-index: 50;
  height: 3%;
  width: 5%;
  border-radius: 60% 60% 50% 50%/60% 60% 50% 50%;
  background: var(--brown);
  animation: mouthmove 1s ease-in-out infinite alternate;
}
#container .kirby_content .kirby_inner .mouth:after {
  width: 100%;
  height: 100%;
  padding: 0% 0 0 0;
  position: absolute;
  background: var(--white);
  filter: blur(2vw);
  will-change: filter;
  z-index: 500;
  border-radius: 60% 60% 50% 50%/60% 60% 50% 50%;
  right: 0;
  bottom: 0%;
  opacity: 0;
  animation: 1s linear infinite mokumoku 1s;
}
#container .kirby_content .kirby_inner .mouth:before {
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 70%;
  border-radius: 40% 40% 50% 50%/40% 40% 70% 70%;
  background: var(--pinkthree);
  display: block;
  position: absolute;
}
#container .kirby_content .kirby_inner .cheek {
  background-color: var(--pinkthree);
  position: absolute;
  top: 60%;
  left: 20%;
  filter: blur(0.1vw);
  width: 14%;
  height: 8%;
  border-radius: 50%;
  transform: rotate(-10deg);
  z-index: 3;
}
#container .kirby_content .kirby_inner .cheek.two {
  left: auto;
  right: 9%;
  transform: rotate(10deg);
}
#container .kirby_content .kirby_inner .hand {
  position: absolute;
  top: 48%;
  left: -15%;
  background: linear-gradient(116deg, #f8b6c7 38%, #ff99b2);
  border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
  width: 30%;
  padding: 30% 0 0;
  /* box-shadow: 0 0 0 0.05vw var(--black);*/
  transform: rotate(-19deg);
}
#container .kirby_content .kirby_inner .hand.two {
  top: 45%;
  left: auto;
  right: -14%;
  background: linear-gradient(-35deg, #f8b6c7 38%, #ff99b2);
  transform: rotate(206deg);
  /*box-shadow: 0 0 0 0.05vw var(--black);*/
  z-index: -1;
}
#container .kirby_content .kirby_inner .hand.two:after {
  right: -20%;
  transform: rotate(11deg);
}
#container .kirby_content [class*='foot'] {
  width: 50%;
  height: 35%;
  position: absolute;
  background: var(--red);
  border-radius: 78% 22% 70% 30% / 59% 29% 71% 41%;
  z-index: -1;
  /*box-shadow: inset 0.5vw -1vw 0.2vw 0 var(--brown), 0 0 0 0.05vw var(--black);*/
}
#container .kirby_content .foot-right {
  bottom: -6%;
  left: -10%;
  transform: rotate(19deg);
}
#container .kirby_content .foot-center {
  right: 15%;
  bottom: -18%;
  transform: rotate(20deg);
  animation: foot-mov-2 .1s ease-in-out infinite;
}
#container .kirby_content .foot-left {
  right: -10%;
  bottom: -7%;
  transform: rotate(15deg);
  animation: foot-mov-3 .1s ease-in-out infinite;
}


/**
* checked
**/
input:checked ~ #container .kirby_content .kirby_inner .eye:after{
  content: none;
}
input:checked ~ #container .kirby_content .kirby_inner .eye {
  top: 23%;
}
input:checked ~ #container .kirby_content .kirby_inner .tears {
  display: none;
}
input:checked ~ #container .kirby_content .kirby_inner .cheek {
  top: 56%;
}
input:checked ~ #container .kirby_content .kirby_inner .mouth {
  border-radius: 35% 35% 50% 50%/30% 30% 70% 70%;
  height: 16%;
  width: 21%;
  left: 46%;
  top: 59%;
}
input:checked ~ #container .kirby_content .kirby_inner .mouth:after {
  border-radius: 40% 40% 50% 50%/30% 30% 70% 70%;
}
input:checked ~ #container .kirby_content .kirby_inner .hand {
  top: 27%;
  transform: rotate(16deg);
}
input:checked ~ #container .kirby_content .kirby_inner .hand.two {
  top: 25%;
  transform: rotate(164deg);
}


/**
* media query
**/
@media (max-width: 767px) {
  #container .kirby_content {
    width: 50%;
  }
}

/**
* animation
**/
@keyframes tears {
  0% {
    width: 0;
    height: 0;
    right: 30%;
    top: 57%;
    opacity: 1;
  }
  51% {
    width: 3%;
    height: 5%;
    right: 27%;
    top: 57%;
    opacity: 1;
  }
  100% {
    width: 3%;
    height: 5%;
    top: 100%;
    opacity: 0;
  }
}

@keyframes eye {
  0% {
    background: var(--black);
  }
  51% {
    background: var(--black);
  }
  51.5% {
    background: transparent;
  }
  52% {
    background: var(--black);
  }
  52.5% {
    background: transparent;
  }
  53% {
    background: var(--black);
  }
  98% {
    background: var(--black);
  }
  98.5% {
    background: transparent;
  }
  99% {
    background: var(--black);
  }
  99.5% {
    background: transparent;
  }
  100% {
    background: var(--black);
  }
}

@keyframes eye-inner {
  0% {
    background: radial-gradient(circle at 100%, #000, #000 50%, #1c22d5 75%, #1c22d5 75%);
  }
  51% {
    background: radial-gradient(circle at 100%, #000, #000 50%, #1c22d5 75%, #1c22d5 75%);
  }
  51.5% {
    background: transparent;
  }
  52% {
    background: radial-gradient(circle at 100%, #000, #000 50%, #1c22d5 75%, #1c22d5 75%);
  }
  52.5% {
    background: transparent;
  }
  53% {
    background: radial-gradient(circle at 100%, #000, #000 50%, #1c22d5 75%, #1c22d5 75%);
  }
  98% {
    background: radial-gradient(circle at 100%, #000, #000 50%, #1c22d5 75%, #1c22d5 75%);
  }
  98.5% {
    background: transparent;
  }
  99% {
    background: radial-gradient(circle at 100%, #000, #000 50%, #1c22d5 75%, #1c22d5 75%);
  }
  99.5% {
    background: transparent;
  }
  100% {
    background: radial-gradient(circle at 100%, #000, #000 50%, #1c22d5 75%, #1c22d5 75%);
  }
}

@keyframes eye-before {
  0% {
    top: 5%;
    background-color: var(--white);
    width: 65%;
    height: 45%;
  }
  51% {
    top: 5%;
    background-color: var(--white);
    width: 65%;
    height: 45%;
  }
  51.5% {
    top: 62%;
    background-color: var(--black);
    width: 200%;
    height: 2%;
  }
  52% {
    top: 5%;
    background-color: var(--white);
    width: 65%;
    height: 45%;
  }
  52.5% {
    top: 62%;
    background-color: var(--black);
    width: 200%;
    height: 2%;
  }
  53% {
    top: 5%;
    background-color: var(--white);
    width: 65%;
    height: 45%;
  }
  98% {
    top: 5%;
    background-color: var(--white);
    width: 65%;
    height: 45%;
  }
  98.5% {
    top: 64%;
    background-color: var(--black);
    width: 200%;
    height: 2%;
  }
  99% {
    top: 5%;
    background-color: var(--white);
    width: 65%;
    height: 45%;
  }
  99.5% {
    top: 62%;
    background-color: var(--black);
    width: 200%;
    height: 2%;
  }
  100% {
    top: 5%;
    background-color: var(--white);
    width: 60%;
    height: 45%;
  }
} 