@charset 'UTF-8';

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  block-size: 100%;
}
h1 {
  font-size: 1.4rem;
  text-align: center;
}
body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;
  display: grid;
  place-content: center;
  gap: 2rem;
}
main {
  padding: 1rem;
  border: 1px solid;
}
label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  margin: 10px 0;
}
label[for="Agree"] {
  justify-content: center;
  gap: 1rem;
}
button {
  display: block;
  padding: .5rem 0;
  width: 100%;
  margin: 0 0 1rem;
}
input {
  padding: .5rem 0;
}
.txt {
  display: block;
  margin: 0 0 20px;
}